@(aa: Asset.AllAttributes, user: User)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util.notice
@import _root_.util.conversions._
@import _root_.util.{Helpers, PowerManagement, Provisioner, SoftLayer}
@import _root_.util.plugins.Maintenance
@import _root_.util.views.{OptionSorter, ProvisionerHelper, TagDecorator}
@import _root_.models.IpmiInfo.Enum._

@main("Asset Details") {
<div class="row">
  <div class="span14">
    @notice("message", Some("notice"))
    @notice("error")
    @notice("warning")
  </div>
</div>

<div class="row">
  <div class="span14">
    <h1>Asset Details <small>@aa.asset.getMetaAttribute("HOSTNAME").map(_.getValue).getOrElse{@aa.asset.tag}</small></h1>
  </div>

  <div class="span14">

    <ul class="tabs" data-tabs="tabs">
      <li class="active"><a href="#overview">Overview</a></li>
      <li><a href="#ipmi-info">IPMI Info</a></li>
      <li><a href="#log-data">Logs</a></li>
      <li><a href="#hardware-details">Hardware Details</a></li>
      <li><a href="#lldp-info">LLDP Info</a></li>
      <li class="dropdown" data-dropdown="dropdown">
      <a href="#" class="dropdown-toggle"><strong>Actions</strong></a>
        <ul class="dropdown-menu">
          <li><a href="#" data-keyboard="true" data-controls-modal="asset-note">Create Note</a></li>
        @if(user.hasRole("infra")) {
          <li class="divider"></li>
          @SoftLayer.pluginEnabled.map { p =>
            @if(p.isSoftLayerAsset(aa.asset) && SoftLayer.cancelAllowed(aa.asset) ) {
            <li><a href="#" class="danger" data-keyboard="true" data-backdrop="static" data-controls-modal="cancel-server">Cancel Server</a></li>
            }
          }
          @if(Maintenance.canTransitionToMaintenance(aa.asset)) {
          <li><a href="#" data-keyboard="true" data-backdrop="static" data-controls-modal="asset-maintenance">Maintenance Start</a></li>
          }
          @if(Maintenance.canTransitionFromMaintenance(aa.asset)) {
          <li><a href="#" data-keyboard="true" data-backdrop="static" data-controls-modal="asset-maintenance">Maintenance End</a></li>
          }
          @PowerManagement.pluginEnabled.map { p =>
            @if(PowerManagement.powerAllowed(aa.asset)) {
            <li><a href="#" class="danger" data-keyboard="true" data-backdrop="static" data-controls-modal="power-server">Power Management</a></li>
            }
          }
          @Provisioner.pluginEnabled.map { p =>
            @if(p.canProvision(aa.asset)) {
            <li><a href="#" class="danger" data-keyboard="true" data-backdrop="static" data-controls-modal="provision-server">Provision Server</a></li>
            }
          }
        }
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="span14 tab-content">

  <div class="active tab-pane" id="overview">
    <h3>Overview</h3>
    <table id="basicDataTable" class="zebra-striped condensed-table">
      <thead>
        <tr>
          <th></th><th></th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Hostname</th>
          <td>@aa.asset.getMetaAttribute("HOSTNAME").map(_.getValue).getOrElse{Unknown}</td>
          <td>Hostname</td>
        </tr>
        <tr>
          <th>Ip Addresses</th>
          <td>@aa.asset.getMetaAttribute("INTERFACE_ADDRESS", 2).mkString(", ")</td>
          <td>Primary IP Addresses</td>
        </tr>
        <tr>
          <th>Asset Tag</th>
          @SoftLayer.pluginEnabled.filter(p => p.isSoftLayerAsset(aa.asset)).map { t =>
	    @slLink(aa.asset, aa.asset.tag)
	  }.getOrElse{<td>@aa.asset.tag</td>}
          <td></td>
        </tr>
        <tr>
          <th>Asset Type</th>
          <td>@aa.asset.getType().name</td>
          <td></td>
        </tr>
        <tr>
          <th>Asset Status</th>
          <td>@aa.asset.getStatus().name</td>
@if(aa.asset.getStatus().name == "Maintenance") {
          <td><span class="label important">See Notes</span> @aa.asset.getStatus().description</td>
} else {
          <td>@aa.asset.getStatus().description</td>
}
        </tr>
        <tr>
          <th>Created On</th>
          <td>@aa.asset.created.format("yyyy-MM-dd HH:mm:ss")</td>
          <td></td>
        </tr>
        <tr>
          <th>Last Updated</th>
          <td>@aa.asset.updated.map(_.format("yyyy-MM-dd HH:mm:ss")).getOrElse {<em>Never</em>}</td>
          <td></td>
        </tr>
        @aa.mvs.filter(_.getName() != "HOSTNAME").map { mv =>
        <tr>
          <th>@mv.getLabel</th>
          <td>
          @{
            mv.getName match {
              case "CANCEL_TICKET" => optionDisplay(0, SoftLayer.ticketLink(mv.getValue), mv.getValue)
              case "DISK_STORAGE_TOTAL" => optionDisplay(1, Some(mv.getValue), mv.getValue)
              case _ => TagDecorator.decorate(mv)
            }
          }
          </td>
          <td>@mv.getDescription</td>
        </tr>
        }
      </tbody>
    </table>

    <script type="text/javascript">
      var userNotesCols = [
        {"mDataProp": "CREATED", "sWidth": "20%"},
	{"mDataProp": "MESSAGE", "sWidth": "80%", "bSortable": false}
      ];
    </script>
    <h3>User Notes <small>Notes people have left</small></h3>
    <div id="log_data_note_container">
      <table id="log_data_note" class="log-data zebra-striped condensed-table" data-cols='userNotesCols' data-source="/asset/@aa.asset.tag/logs?filter=NOTE">
        <thead>
          <tr>
            <th>Date</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Message</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <h3>Hardware Summary</h3>
    @if(aa.lshw.cpuCount > 0) {
    <table class="zebra-striped condensed-table" id="hardwareSummary">
      <thead>
        <tr>
          <th></th><th></th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="3">CPU</th>
        </tr>
        <tr>
          <td></td>
          <td>Total CPUs</td>
          <td>@aa.lshw.cpuCount</td>
        </tr>
        <tr>
          <td></td>
          <td>Total CPU Cores</td>
          <td>@aa.lshw.cpuCoreCount</td>
        </tr>
        <tr>
          <td></td>
          <td>Total CPU Threads</td>
          <td>@aa.lshw.cpuThreadCount</td>
        </tr>
        <tr>
          <td></td>
          <td>Hyperthreading Enabled</td>
          <td>@{if (aa.lshw.hasHyperthreadingEnabled) "Yes" else "No"}</td>
        </tr>

        <tr>
          <th colspan="3">Memory</th>
        </tr>
        <tr>
          <td></td>
          <td>Total Memory</td>
          <td>@aa.lshw.totalMemory.toHuman</td>
        </tr>
        <tr>
          <td></td>
          <td>Total Memory Banks</td>
          <td>@aa.lshw.memoryBanksTotal</td>
        </tr>
        <tr>
          <td></td>
          <td>Used Memory Banks</td>
          <td>@aa.lshw.memoryBanksUsed</td>
        </tr>
        <tr>
          <td></td>
          <td>Unused Memory Banks</td>
          <td>@aa.lshw.memoryBanksUnused</td>
        </tr>

        <tr>
          <th colspan="3">Disks</th>
        </tr>
        <tr>
          <td></td>
          <td>Disks</td>
          <td>@aa.lshw.diskCount</td>
        </tr>
        <tr>
          <td></td>
          <td>SCSI Storage</td>
          <td>@aa.lshw.totalStorage.toHuman</td>
        </tr>
        <tr>
          <td></td>
          <td>Total Storage</td>
          <td>@aa.lshw.totalUsableStorage.toHuman</td>
        </tr>
        <tr>
          <td></td>
          <td>Has PCIe Flash Disk</td>
          <td>@{if (aa.lshw.hasFlashStorage) "Yes" else "No"}</td>
        </tr>

        <tr>
          <th colspan="3">Network</th>
        </tr>
        <tr>
          <td></td>
          <td>Interfaces</td>
          <td>@aa.lshw.nicCount</td>
        </tr>
        <tr>
          <td></td>
          <td>Has 10Gb Interface</td>
          <td>@{if (aa.lshw.has10GbNic) "Yes" else "No"}</td>
        </tr>
      </tbody>
    </table>
    } else {
    <div>None Available</div>
    }
  </div> <!-- overview -->

  <div class="tab-pane" id="ipmi-info">
    <h3>IPMI Info</h3>
    @PowerManagement.pluginEnabled.map { p =>
    <div class="clearfix" style="float: right; margin-right: 100px;">
      <button class="primary btn" data-remote="/asset/@aa.asset.tag/power" data-insert="power-status" data-extract="data.MESSAGE">Power Status</button>
      <span id="power-status"></span>
    </div>
    }
    @if(aa.ipmi.nonEmpty) {
    <table class="zebra-striped condensed-table" id="ipmiInfo">
      <thead>
        <th></th><th></th>
      </thead>
      <tbody>
        <tr>
          <th>IPMI Address</th>
          <td><a target="_blank" href="http://@aa.ipmi.get.dottedAddress()/">@{aa.ipmi.get.dottedAddress()}</a></td>
        </tr>
        <tr>
          <th>IPMI Username</th>
          <td>@aa.ipmi.get.username</td>
        </tr>
        <tr>
          <th>IPMI Password</th>
          <td>@aa.ipmi.get.password</td>
        </tr>
        <tr>
          <th>IPMI Gateway/Netmask</th>
          <td>@aa.ipmi.get.dottedGateway()/@aa.ipmi.get.dottedNetmask()</td>
        </tr>
      </tbody>
    </table>
    } else {
    <div class="clearfix" style="margin-top: 15px;">None Available</div>
    }
  </div>

  <div class="tab-pane" id="lldp-info">
    <h3>LLDP Summary</h3>
    @if(aa.lldp.interfaceCount > 0) {
    <table class="zebra-striped condensed-table" id="lldpSummary">
      <thead>
        <tr>
          <th></th>
          @aa.lldp.interfaces.map { interface =>
          <th>@interface.name</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Chassis Name</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.chassis.name</td>
          }
        </tr>
        <tr>
          <th>Chassis Description</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.chassis.description</td>
          }
        </tr>
        <tr>
          <th>Chassis ID</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.chassis.id.idType / @interface.chassis.id.value</td>
          }
        </tr>

        <tr>
          <th>Port ID</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.port.id.idType / @interface.port.id.value</td>
          }
        </tr>
        <tr>
          <th>Port Description</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.port.description</td>
          }
        </tr>

        <tr>
          <th>VLAN ID</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.vlan.id</td>
          }
        </tr>
        <tr>
          <th>VLAN Name</th>
          @aa.lldp.interfaces.map { interface =>
          <td>@interface.vlan.name</td>
          }
        </tr>
      </tbody>
    </table>
    } else {
    <div>None Available</div>
    }
  </div>


  <div class="tab-pane" id="hardware-details">
    <h3>Hardware Details</h3>
    @if(aa.lshw.cpuCount > 0) {
    <div id="hardwareDetails">
    <h4>Network Interfaces <small>Collected NIC Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <tr>
          <th>Id</th><th>Interface</th><th>Address</th><th>Speed</th><th>MAC Address</th><th>Description</th>
        </tr>
      </thead>
      <tbody>
      @aa.lshw.nics.zipWithIndex.map { case(nic,id) =>
        <tr>
          <th>@id</th>
          <td>@{nic.info.map(n => n.interface).getOrElse("Unknown")}</td>
          <td>@{nic.info.map(n => n.address).getOrElse("Unknown")}</td>
          <td>@{nic.speed.toHuman}/s</td>
          <td>@nic.macAddress</td>
          <td>@nic.description</td>
        </tr>
      }
      </tbody>
    </table>

    <h4>CPU <small>Collected CPU Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <th>Id</th><th>Cores</th><th>Threads</th><th>Speed</th><th>Description</th>
      </thead>
      <tbody>
      @aa.lshw.cpus.zipWithIndex.map { case(cpu,id) =>
        <tr>
          <th>@id</th>
          <td>@cpu.cores</td>
          <td>@cpu.threads</td>
          <td>@cpu.speedGhz</td>
          <td>@cpu.description</td> <!-- vendor? -->
        </tr>
      }
      </tbody>
    </table>

    <h4>Memory <small>Collected Memory Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <tr>
          <th>Bank Id</th><th>Size</th><th>Description</th>
        </tr>
      </thead>
      <tbody>
      @aa.lshw.memory.map { mem =>
        <tr>
          <th>@mem.bank</th>
          <td>@mem.size.toHuman</td>
          <td>@mem.description</td>
        </tr>
      }
      </tbody>
    </table>

    <h4>Disks <small>Collected Disk Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <tr>
          <th>Id</th><th>Size</th><th>Type</th><th>Description</th>
        </tr>
      </thead>
      <tbody>
      @aa.lshw.disks.zipWithIndex.map { case(disk,id) =>
        <tr>
          <th>@id</th>
          <td>@disk.size.toHuman</td>
          <td>@disk.diskType</td>
          <td>@disk.description</td>
        </tr>
      }
      </tbody>
    </table>
    </div>
    } else {
    <div>None Available</div>
    }
  </div>

  <div class="tab-pane" id="log-data">
    <script type="text/javascript">
      var logDataCols = [
        {"mDataProp": "CREATED", "sWidth": "20%"},
	{"mDataProp": "SOURCE", "sWidth": "10%", "bSortable": false},
        {"mDataProp": "TYPE", "sWidth": "15%", "bSortable": false},
	{"mDataProp": "MESSAGE", "sWidth": "55%", "bSortable": false}
      ];
    </script>
    <h3>Log Data <small>Log data about asset</small></h3>
    <div id="log_data_container">
      <table id="log_data" class="log-data zebra-striped condensed-table" data-cols="logDataCols" data-source="/asset/@aa.asset.tag/logs?filter=!NOTE">
        <thead>
          <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Level</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Level</th>
            <th>Message</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div> <!-- row -->

<!-- modals -->
<div id="asset-maintenance" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Asset Maintenance</h3>
  </div>
  @form(app.routes.CookieApi.updateAssetForMaintenance(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "maintenanceError", Symbol("data-modal") -> "asset-maintenance", Symbol("data-refresh") -> ".window") {
    @if(Maintenance.canTransitionToMaintenance(aa.asset)) {
    <div class="modal-body">
      <p><span class="label important">Warning</span> asset <em>NOT</em> currently in maintenance mode. Putting an asset in maintenance mode will:</p>
      <ul>
        <li>Change the asset status</li>
        <li>Cause it to be pulled from relavent configurations</li>
        <li>Stop getting production traffic</li>
      </ul>
      <p>If that all sounds good, provide a reason and then click the button below</p>
      <div class="clearfix">
        <input type="hidden" name="status" value="Maintenance">
        <label for="reason">Reason</label>
        <div class="input">
          <textarea name="reason" id="reason" class="xlarge" rows="3"></textarea>
        </div>
      </div>
      <div class="clearfix">
        <label for="maintenanceError" style="margin-right: 15px;"></label>
        <span class="alert-message error hide hideAfterClose modalErrorMessage" id="maintenanceError" data-purge="true"></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn">Asset in Maintenance Mode</button>
      <button type="reset" data-closes-modal="cancel-server" class="btn primary">Go back to browsing tumblr</button>
    </div>
    } else {
    <div class="modal-body">
      <p><span class="label important">Warning</span> asset <em>IS</em> currently in maintenance mode. Taking an asset out of maintenance mode will:</p>
      <ul>
        <li>Change the asset status</li>
        <li>Cause it to be added back to relavent configurations</li>
        <li>Start getting production traffic</li>
      </ul>
      <p>If that all sounds good, provide a reason and then click the button below. Be certain that you are putting the asset into an approprite status. For instance, if prior to maintenance an asset was Incomplete, you should probably move it back to Incomplete.</p>
      <div class="clearfix">
        <label for="status">Status</label>
        <div class="input">
          <select name="status" id="status">
            <option value="" selected="selected"></option>
            @OptionSorter.sortStrings(Status.Enum.values.toSeq, Some(" ")).map { v =>
            <option value="@v._1">@v._2</option>
            }
          </select>
        </div>
      </div>
      <div class="clearfix">
        <label for="reason">Reason</label>
        <div class="input">
          <textarea name="reason" id="reason" class="xlarge" rows="3"></textarea>
        </div>
      </div>
      <div class="clearfix">
        <label for="maintenanceError" style="margin-right: 15px;"></label>
        <span class="alert-message error hide hideAfterClose modalErrorMessage" id="maintenanceError" data-purge="true"></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn">Asset out of Maintenance Mode</button>
      <button type="reset" data-closes-modal="cancel-server" class="btn primary">Go back to browsing tumblr</button>
    </div>
    }
  }
</div>

<div id="cancel-server" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Server Cancellation</h3>
  </div>
  @form(app.routes.CookieApi.cancelAsset(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "cancelError", Symbol("data-modal") -> "cancel-server", Symbol("data-refresh") -> ".window") {
  <div class="modal-body">
    <p><span class="label important">Warning</span> Cancelling this server will</p>
    <ul>
      <li>File a ticket with SoftLayer</li>
      <li>Mark it as cancelled in collins</li>
      <li>24 hours later - Shut down the machine</li>
      <li>48 hours later - Erase the hard disks</li>
    </ul>
    <p>If that all sounds good, provide a reason and then click the button below</p>
    <div class="clearfix">
      <label for="reason">Reason</label>
      <div class="input">
        <textarea name="reason" id="reason" class="xlarge" rows="3"></textarea>
      </div>
    </div>
    <div class="clearfix">
      <label for="cancelError" style="margin-right: 15px;"></label>
      <span class="alert-message error hide hideAfterClose modalErrorMessage" id="cancelError" data-purge="true"></span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn">Delete Server</button>
    <button type="reset" data-closes-modal="cancel-server" class="btn primary">Go back to browsing tumblr</button>
  </div>
  }
</div>

<div id="power-server" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Server Power Management</h3>
  </div>
  @form(app.routes.CookieApi.powerManagement(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "powerError", Symbol("data-modal") -> "power-server", Symbol("data-refresh") -> ".window") {
  <div class="modal-body">
    <p><span class="label important">Warning</span> This is a disruptive action</p>
    <ul>
      <li><strong>Hard Reboot</strong> - This is equivalent to pressing the reset button</li>
      <li><strong>Soft Reboot</strong> - Graceful reboot via IPMI</li>
      <li><strong>Power Off</strong> - Power off the server via IPMI</li>
      <li><strong>Power On</strong> - Power on the server via IPMI</li>
      <li><strong>Power Cycle</strong> - Equivalent to unplugging the server from the power strip then plugging it back in.</li>
    </ul>
    <p>If that all sounds good, pick a reboot type and then click the button below</p>
    <p><strong>Note</strong> If a reboot command has been issued successfully in the past 20 minutes, another power management action will not be allowed.</p>
    <div class="clearfix">
      <label for="action">PM Action</label>
      <div class="input">
        <select name="action" id="action">
          <option value="" selected="selected"></option>
          <option value="rebootSoft">Soft Reboot</option>
          <option value="rebootHard">Hard Reboot</option>
          <option value="powerOff">Power Off</option>
          <option value="powerOn">Power On</option>
          <option value="powerCycle">Power Cycle</option>
        </select>
      </div>
    </div>
    <div class="clearfix">
      <span class="alert-message error hide modalErrorMessage hideAfterClose" data-purge="true" id="powerError"></span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn">Potentially Mess Up Server</button>
    <button type="reset" data-closes-modal="power-server" class="btn primary">Go back to browsing tumblr</button>
  </div>
  }
</div>

<div id="provision-server" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Provision a Server</h3>
  </div>
  @form(app.routes.CookieApi.provisionAsset(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "provisionError", Symbol("data-modal") -> "provision-server", Symbol("data-refresh") -> ".window") {
  <div class="modal-body">
    <p><span class="label important">Warning</span> Provisioning a server is a destructive process. Be certain that you want to do this. The provisioner will:</p>
    <ul>
      <li>SSH into the machine</li>
      <li>Reboot it into kickstart mode</li>
      <li>Come back online without old data on disks</li>
    </ul>
    <p>If that all sounds good, pick an appropriate profile below and provide your email for notification</p>
    <div class="clearfix">
      <label for="profile">Profile</label>
      <div class="input">
        <select name="profile" id="profile" data-show="suffix-container,hostname-container" data-triggers="PROVISIONER_TRIGGERS">
          <option value="" selected="selected"></option>
          @Provisioner.pluginEnabled.map { p =>
            @p.profiles.toSeq.map { v =>
            <option value="@v.identifier" data-show-display="@v.allow_suffix.toString" data-aggregate-value="@v.prefix">@v.label</option>
            }
          }
        </select>
      </div>
    </div>
    <script type="text/javascript">
      var PROVISIONER_TRIGGERS = {
        "profiles": @ProvisionerHelper.profilesAsJson(),
        "primary_roles": @ProvisionerHelper.primaryRolesAsJson(),
        "pools": @ProvisionerHelper.poolsAsJson(),
        "secondary_roles": @ProvisionerHelper.secondaryRolesAsJson()
      };
    </script>
    <div class="clearfix hide hideAfterClose" id="primary-role-container">
      <label for="primary_role">Primary Role</label>
      <div class="input" data-purge="true">
      </div>
    </div>
    <div class="clearfix haveChoice hide hideAfterClose" id="pool-container">
      <label for="pool">Pool</label>
      <div class="input" data-purge="true">
      </div>
    </div>
    <div class="clearfix haveChoice hide hideAfterClose" id="secondary-role-container">
      <label for="secondary_role">Secondary Role</label>
      <div class="input" data-purge="true">
      </div>
    </div>
    <div class="clearfix hide hideAfterClose" id="suffix-container">
      <label for="suffix">Hostname Suffix</label>
      <div class="input">
        <input name="suffix" id="suffix" data-purge="true">
	<span class="help-block">Optional suffix for hostname. If you provisioned a dev machine and picked mackenzie as your suffix, the hostname would be dev-mackenzie-HASH</span>
      </div>
    </div>
    <div class="clearfix hide hideAfterClose" id="hostname-container">
      <label>Hostname</label>
      <div class="input">
        <span class="uneditable-input" data-purge="true" data-aggregate="profile,suffix"></span>
      </div>
    </div>
    <div class="clearfix">
      <label for="contact">Hipchat User</label>
      <div class="input">
        <input name="contact" id="contact" placeholder="@User.fromMap(req.session.data).map(_.username).getOrElse("mackenzie")">
      </div>
    </div>
    <div class="clearfix">
      <label for="provisionError" style="margin-right: 15px;"></label>
      <span class="alert-message error hide hideAfterClose modalErrorMessage" data-purge="true" id="provisionError"></span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn">Provision Server</button>
    <button type="reset" data-closes-modal="provision-server" class="btn primary">Go back to browsing tumblr</button>
  </div>
  }
</div>

<div id="asset-note" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Create new note</h3>
  </div>
  @form(app.routes.CookieApi.submitLogData(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "noteError", Symbol("data-modal") -> "asset-note", Symbol("data-refresh") -> "table.log-data") {
  <div class="modal-body">
    <div class="clearfix" style="line-height: 150%">
      <strong>Note</strong> The following HTML tags are allowed: <code>a, b, blockquote, br, cite, code, dd, dl, dt, em, i, img, li, ol, p, pre, q, small, strike, strong, sub, sup, u, ul</code>
    </div>
    <div class="clearfix">
      <label for="type">Note Type</label>
      <div class="input">
        @selectDisplay("type", "NOTE")
      </div>
    </div>
    <div class="clearfix">
      <label for="message">Note</label>
      <div class="input">
        <textarea name="message" id="message" class="xlarge focus" rows="3"></textarea>
        <span class="help-block">And that's why, you always leave a note.</span>
      </div>
    </div>
    <div class="clearfix">
      <label for="noteError" style="margin-right: 15px;"></label>
      <span class="alert-message error hide hideAfterClose modalErrorMessage" id="noteError"></span>
    </div>
    <input type="hidden" name="source" value="USER">
  </div>
  <div class="modal-footer">
    <button type="reset" data-closes-modal="asset-note" class="btn">Cancel</button>
    <button type="submit" class="btn primary">Leave a Note</button>
  </div>
  }
</div>

<script src="@routes.Assets.at("javascripts/asset_show.js")" type="text/javascript"></script>
}
