@(asset: Asset, lshw: _root_.util.LshwRepresentation, wseq: Seq[MetaWrapper])(implicit flash: Flash)

@import helper._
@import util.notice

@main("Asset Details") {
<div class="page-header">
  <h1>Asset Details <small>@asset.tag</small></h1>
</div>
<div class="row">
  <div class="span14">
    @notice("message", Some("notice"))
    @notice("error")
    @notice("warning")

    <h3>Basic Data</h3>
    <p>Basic asset information including tag, type, status and dates</p>
    <table class="zebra-striped condensed-table">
      <thead>
        <tr>
          <th></th><th></th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Asset Tag</th>
          <td>@asset.tag</td>
          <td></td>
        </tr>
        <tr>
          <th>Asset Type</th>
          <td>@asset.getType().name</td>
          <td></td>
        </tr>
        <tr>
          <th>Asset Status</th>
          <td>@asset.getStatus().name</td>
          <td>@asset.getStatus().description</td>
        </tr>
        <tr>
          <th>Created On</th>
          <td>@asset.created.format("yyyy-MM-dd HH:mm:ss")</td>
          <td></td>
        </tr>
        <tr>
          <th>Last Updated</th>
          <td>@asset.updated.map(_.format("yyyy-MM-dd HH:mm:ss")).getOrElse {<em>Never</em>}</td>
          <td></td>
        </tr>
        @wseq.find { _.getMetaId == AssetMeta.Enum.ChassisTag.id }.map { mv =>
        <tr>
          <th>@mv.getLabel</th>
          <td>@mv.getValue</td>
          <td>@mv.getDescription</td>
        </tr>
        }
        @wseq.find { _.getMetaId == AssetMeta.Enum.ServiceTag.id }.map { mv =>
        <tr>
          <th>@mv.getLabel</th>
          <td>@mv.getValue</td>
          <td>@mv.getDescription</td>
        </tr>
        }
        @wseq.find { _.getMetaId == AssetMeta.Enum.RackPosition.id }.map { mv =>
        <tr>
          <th>@mv.getLabel</th>
          <td>@mv.getValue</td>
          <td>@mv.getDescription</td>
        </tr>
        }
        @wseq.filter { _.getMetaId == AssetMeta.Enum.PowerPort.id }.map { mv =>
        <tr>
          <th>@mv.getLabel</th>
          <td>@mv.getValue</td>
          <td>@mv.getDescription</td>
        </tr>
        }
        @wseq.filter { _.getMetaId == AssetMeta.Enum.SwitchPort.id }.map { mv =>
        <tr>
          <th>@mv.getLabel</th>
          <td>@mv.getValue</td>
          <td>@mv.getDescription</td>
        </tr>
        }
      </tbody>
    </table>

    @if(lshw.cpus.size > 0) {
    <h3>Hardware Information</h3>
    <h4>CPU <small>Collected CPU Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <th>Id</th><th>Cores</th><th>Threads</th><th>Speed</th><th>Description</th>
      </thead>
      <tbody>
      @lshw.cpus.zipWithIndex.map { case(cpu,id) =>
        <tr>
          <th>@id</th>
          <td>@cpu.cores</td>
          <td>@cpu.threads</td>
          <td>@cpu.speedGhz</td>
          <td>@cpu.description</td>
        </tr>
      }
      </tbody>
      <tfoot class="summary">
        <tr>
          <th colspan="2">Total CPUs</th>
          <td colspan="3">@lshw.cpuCount</td>
        </tr>
        <tr>
          <th colspan="2">Total CPU Cores</th>
          <td colspan="3">@lshw.cpuCoreCount</td>
        </tr>
        <tr>
          <th colspan="2">Total CPU Threads</th>
          <td colspan="3">@lshw.cpuThreadCount</td>
        </tr>
        <tr>
          <th colspan="2">Hyperthreading Enabled</th>
          <td colspan="3">@{if (lshw.hasHyperthreadingEnabled) "Yes" else "No"}</td>
        </tr>
      </tfoot>
    </table>

    <h4>Memory <small>Collected Memory Information</small></h4>
    <p><em>Note:</em> Memory details are reconstructed from a summary, the bank id does not reflect which
    bank is actually in use</p>
    <table class="zebra-striped condensed-table">
      <thead>
        <th>Bank Id</th><th>Size</th><th>Description</th>
      </thead>
      <tbody>
      @lshw.memory.map { mem =>
        <tr>
          <th>@mem.bank</th>
          <td>@mem.size.toHuman</td>
          <td>@mem.description</td>
        </tr>
      }
      </tbody>
      <tfoot class="summary">
        <tr>
          <th colspan="2">Total Memory</th>
          <td colspan="3">@lshw.totalMemory.toHuman</td>
        </tr>
        <tr>
          <th colspan="2">Total Memory Banks</th>
          <td colspan="3">@lshw.memoryBanksTotal</td>
        </tr>
        <tr>
          <th colspan="2">Used Memory Banks</th>
          <td colspan="3">@lshw.memoryBanksUsed</td>
        </tr>
        <tr>
          <th colspan="2">Unused Memory Banks</th>
          <td colspan="3">@lshw.memoryBanksUnused</td>
        </tr>
      </tfoot>
    </table>

    <h4>Network Interfaces <small>Collected NIC Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <th>Id</th><th>Speed</th><th>MAC Address</th><th>Description</th>
      </thead>
      <tbody>
      @lshw.nics.zipWithIndex.map { case(nic,id) =>
        <tr>
          <th>@id</th>
          <td>@{nic.speed.toHuman}/s</td>
          <td>@nic.macAddress</td>
          <td>@nic.description</td>
        </tr>
      }
      </tbody>
      <tfoot class="summary">
        <tr>
          <th colspan="2">Interfaces</th>
          <td colspan="3">@lshw.nicCount</td>
        </tr>
        <tr>
          <th colspan="2">Has 10Gb Interface</th>
          <td colspan="3">@{if (lshw.has10GbNic) "Yes" else "No"}</td>
        </tr>
      </tfoot>
    </table>

    <h4>Disks <small>Collected Disk Information</small></h4>
    <table class="zebra-striped condensed-table">
      <thead>
        <th>Id</th><th>Size</th><th>Type</th><th>Description</th>
      </thead>
      <tbody>
      @lshw.disks.zipWithIndex.map { case(disk,id) =>
        <tr>
          <th>@id</th>
          <td>@disk.size.toHuman</td>
          <td>@disk.diskType</td>
          <td>@disk.description</td>
        </tr>
      }
      @lshw.flashDisk.map { fdisk =>
        <tr>
          <th>@{lshw.diskCount + 1}</th>
          <td>@fdisk.size.toHuman</td>
          <td>FLASH</td>
          <td>@fdisk.description</td>
        </tr>
      }
      </tbody>
      <tfoot class="summary">
        <tr>
          <th colspan="2">Disks</td>
          <td colspan="3">@lshw.diskCount</td>
        </tr>
        <tr>
          <th colspan="2">Spinning Storage</th>
          <td colspan="3">@lshw.totalStorage.toHuman</td>
        </tr>
        <tr>
          <th colspan="2">Total Storage</th>
          <td colspan="3">@lshw.totalUsableStorage.toHuman</td>
        </tr>
      </tfoot>
    </table>
    }
  </div>
</div>
}
