<p class="lead">Caching used by collins</p>

<p>
Collins uses caching in several places, most notably to cache ldap responses, metrics, and to coordinate across multiple nodes for the firehose.

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Key</th><th>Type</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="inlinecode">enabled</td>
            <td>Boolean</td>
            <td> Whether to enable the cache.  Defaults to <span class="inlinecode">true</span></td>
        </tr>
        <tr>
            <td class="inlinecode">type</td>
            <td>String</td>
            <td>The type of cache to use.  Valid options are <span class="inlinecode">in-memory</span> for guava based cache or <span class="inlinecode">distributed</span> for hazelcast based cache. <span class="inlinecode">in-memory</span> is only valid for a standalone collins setup - if you have multiple collins servers, you should switch to using the <span class="inlinecode">distributed</span> cache.  Defaults to <span class="inlinecode">in-memory</span>
        </tr>
    </tbody>
</table>

<div class="example reference-config">
    <pre>cache {
  enabled=true

  type=in-memory
}</pre>
</div>

<h3>Guava in-memory cache</h3>
Guava cache is only suitable for standalone setup.  It is used to cache various information internally to collins.

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Key</th><th>Type</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="inlinecode">enabled</td>
            <td>Boolean</td>
            <td>Whether to enable guava cache. Defaults to <span class="inlinecode">true</span>.  If you choose <span class="inlinecode">in-memory</span> for your cache type, you must set this configuration to <span class="inlinecode">true</span> as well.</td>
        </tr>
        <tr>
            <td class="inlinecode">specification</td>
            <td>String</td>
            <td> The global guava cache specification, as decribed in <a href="https://google.github.io/guava/releases/17.0/api/docs/com/google/common/cache/CacheBuilderSpec.html">com.google.common.cache.CacheBuilderSpec</a>. Defaults to <span class="inlinecode">"maximumSize=10000,expireAfterWrite=10s,recordStats"</span>
        </tr>
    </tbody>
</table>

<div class="example reference-config">
    <pre>guava {
  enabled=true

  # used when deploying in standalone mode
  specification="maximumSize=10000,expireAfterWrite=10s,recordStats"
}</pre>
</div>


<h3>Hazelcast distributed cache</h3>
Hazelcast is used for multi-node distributed cache.  It was introduced to support the firehose feature.

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Key</th><th>Type</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="inlinecode">enabled</td>
            <td>Boolean</td>
            <td> Whether to enable the hazelcast. Defaults to <span class="inlinecode">true</span>.  If you choose <span class="inlinecode">distributed</span> for your cache type, you must set this configuration to <span class="inlinecode">true</span> as well.</td>
        </tr>
        <tr>
            <td class="inlinecode">configFile</td>
            <td>String</td>
            <td>Path to the XML config file used by hazelcast. See http://docs.hazelcast.org/docs/3.5/manual/html/tcp.html for details.  See <a href="https://github.com/tumblr/collins/blob/master/conf/hazelcast/hazelcast.xml">https://github.com/tumblr/collins/blob/master/conf/hazelcast/hazelcast.xml</a> for a working example.</td>
        </tr>
        <tr>
            <td class="inlinecode">members</td>
            <td>String</td>
            <td>List of IP addresses of existing hazelcast members.  Make sure this includes at least one other collins IP, so the collins nodes can find each other.</td>
        </tr>
    </tbody>
</table>

<div class="example reference-config">
    <pre>hazelcast {
      enabled=false

      # http://docs.hazelcast.org/docs/3.5/manual/html/tcp.html
      # used when deploying in clustered mode
      configFile="conf/hazelcast/hazelcast.xml"
      members=""
    }
}</pre>
</div>
