<p class="lead">Collins feature flags</p>
<p>
<span class="label label-info">Namespace</span> <span class="inlinecode">features</span>
</p>

<p>
There are a number of parts of collins that you may wish to customize based on your environment.
These are referred to in the reference configuration and elsewhere as feature flags. Available
feature flags are documented below.
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Key</th><th>Type</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="inlinecode">allowTagUpdates</td>
      <td>String</td>
      <td>A set of managed tags that can be updated for non-server assets</td>
    </tr>
    <tr>
      <td class="inlinecode">allowedServerUpdateStatuses</td>
      <td>Set[String]</td>
      <td>A set of statuses in which collins will accept LLDP/LSHW/CHASSIS_TAG updates for server assets. Maintenance is always a member of this set, even if not specified.</td>
    </tr>
    <tr>
      <td class="inlinecode">defaultLogType</td>
      <td>String</td>
      <td>Used for logs being created via the API when no type is specified</td>
    </tr>
    <tr>
      <td class="inlinecode">deleteIpmiOnDecommission</td>
      <td>Boolean</td>
      <td>Whether IPMI info should be deleted when an asset is decommissioned</td>
    </tr>
    <tr>
      <td class="inlinecode">deleteIpAddressOnDecommission</td>
      <td>Boolean</td>
      <td>Whether IP address information should be deleted on decommission</td>
    </tr>
    <tr>
      <td class="inlinecode">deleteMetaOnDecommission</td>
      <td>Boolean</td>
      <td>Whether attributes should be deleted on decommission</td>
    </tr>
    <tr>
      <td class="inlinecode">useWhitelistOnRepurpose</td>
      <td>Boolean</td>
      <td>Determines which of deleteSomeMetaOnRepurpose or keepSomeMetaOnRepurpose is used. When true keepSomeMetaOnRepurpose is used.</td>
    </tr>
    <tr>
      <td class="inlinecode">deleteSomeMetaOnRepurpose</td>
      <td>Set[String]</td>
      <td>If deleteMetaOnDecommission is false, this is a list of attributes to delete anyhow</td>
    </tr>
    <tr>
      <td class="inlinecode">keepSomeMetaOnRepurpose</td>
      <td>Set[String]</td>
      <td>If useWhitelistOnRepurpose is true, this is a list of attributes to keep</td>
    </tr>
    <tr>
      <td class="inlinecode">encryptedTags</td>
      <td>Set[String]</td>
      <td>A list of attributes that should be encrypted</td>
    </tr>
    <tr>
      <td class="inlinecode">ignoreDangerousCommands</td>
      <td>Set[String]</td>
      <td>A list of tags of assets that should ignore dangerous commands. You should populate this with tags of hosts that shouldn't be allowed to be powered off, reprovisioned, etc.</td>
    </tr>
    <tr>
      <td class="inlinecode">intakeSupported</td>
      <td>Boolean</td>
      <td>Whether the web based intake is supported or not</td>
    </tr>
    <tr>
      <td class="inlinecode">hideMeta</td>
      <td>Set[String]</td>
      <td>A list of tags to hide from display</td>
    </tr>
    <tr>
      <td class="inlinecode">noLogAssets</td>
      <td>Set[String]</td>
      <td>A set of assets not to log any changes for</td>
    </tr>
    <tr>
      <td class="inlinecode">noLogPurges</td>
      <td>Set[String]</td>
      <td>A set of tags not to log when they change</td>
    </tr>
    <tr>
      <td class="inlinecode">sloppyStatus</td>
      <td>Boolean</td>
      <td>Should be true if you want collins to be usable.</td>
    </tr>
    <tr>
      <td class="inlinecode">sloppyTags</td>
      <td>Boolean</td>
      <td>Should probably be false. Allow every tag to be updated/overwritten/changed no matter what. Normally managed tags can only be updated during certain parts of the asset lifecycle.</td>
    </tr>
  </tbody>
</table>

<div class="accordion" id="feature-cfg">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#feature-cfg" href="#feature-re">Reference</a>
    </div>
    <div id="feature-re" class="accordion-body collapse">
      <div class="accordion-inner">
<pre>features {
  allowTagUpdates = []

  allowedServerUpdateStatuses = []

  defaultLogType = Informational

  deleteIpmiOnDecommission = true

  deleteIpAddressOnDecommission = true

  deleteMetaOnDecommission = false

  deleteSomeMetaOnRepurpose = []

  encryptedTags = []

  ignoreDangerousCommands = []

  intakeSupported = true

  hideMeta = []

  noLogAssets = []

  noLogPurges = []

  sloppyStatus = true

  sloppyTags = false
}</pre>
      </div> <!-- accordion inner -->
    </div> <!-- accordion-body -->
  </div> <!-- accordion-group -->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#feature-cfg" href="#feature-ex">Example</a>
    </div>
    <div id="feature-ex" class="accordion-body collapse in">
      <div class="accordion-inner">
<pre>features {
  allowedServerUpdateStatuses = [ PROVISIONED, PROVISIONING ]

  encryptedTags = [SYSTEM_PASSWORD, LOCATION]

  noLogAssets = [chatty_config, other_chatty_config]

  noLogPurges = [SYSTEM_PASSWORD]
}</pre>
      </div> <!-- accordion inner -->
    </div> <!-- accordion-body -->
  </div> <!-- accordion-group -->

</div> <!-- accordion -->
