<p class="lead">Configuration for importing LLDP data</p>
<p>
<span class="label label-info">Namespace</span> <span class="inlinecode">lldp</span>
</p>

<p>
Collins accepts XML output from <span class="inlinecode">lldpctl</span> in order
to store data about which switch an asset is connected to.
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Key</th><th>Type</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="inlinecode">requireVlanName</td>
      <td>Boolean</td>
      <td>If true, throw an error if the LLDP data submitted contains any
      VLANs without a name attribute. Defaults to true.</td>
    </tr>
    <tr>
      <td class="inlinecode">requireVlanId</td>
      <td>Boolean</td>
      <td>If true, throw an error if the LLDP data submitted does not contain a
      VLAN with a <code>vlan-id</code> attribute. Defaults to false.</td>
    </tr>
  </tbody>
</table>

<div class="example reference-config">
<pre>lldp {
     requireVlanName = true
     requireVlanId   = false
}</pre>
</div>
