<p class="lead">Better search</p>
<p>
<span class="label label-info">Namespace</span> <span class="inlinecode">solr</span>
</p>

<p>
If the Solr plugin is enabled, Collins will use Solr to index assets. Since you can
run Solr either embedded (bundled into Collins) or using an external instance, you
should almost definitely keep this enabled.
</p>

<p>
Once the Solr plugin is enabled you will notice a few new features pop up in Collins. First,
you can now query collins using the collins query language. This allows you to perform more
advanced queries using ranges (how many assets have between 4 and 8 CPUs, give me assets
with more than 2TB of usable storage) and much more sophisticated boolean operators. You can
also sort results by any tag which is nice. You can find example queries in the
<a href="recipes.html#cql">collins query language</a> section of the recipes guide.
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Key</th><th>Type</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="inlinecode">embeddedSolrHome</td>
      <td>String</td>
      <td><span class="label label-info">Embedded only</span> Must be a writable directory if useEmbeddedServer is true</td>
    </tr>
    <tr>
      <td class="inlinecode">enabled</td>
      <td>Boolean</td>
      <td>Defaults to false</td>
    </tr>
    <tr>
      <td class="inlinecode">externalUrl</td>
      <td>String</td>
      <td><span class="label label-info">External only</span> If useEmbeddedServer is false, this must be a valid solr URL</td>
    </tr>
    <tr>
      <td class="inlinecode">reactToUpdates</td>
      <td>Boolean</td>
      <td>Keep index up to date as assets and values are modified. Defaults to true.</td>
    </tr>
    <tr>
      <td class="inlinecode">repopulateOnStartup</td>
      <td>Boolean</td>
      <td>Defaults to false. Useful in dev.</td>
    </tr>
    <tr>
      <td class="inlinecode">useEmbeddedServer</td>
      <td>Boolean</td>
      <td>Defaults to true</td>
    </tr>
    <tr>
      <td class="inlinecode">socketTimeout</td>
      <td>Int</td>
      <td><span class="label label-info">External only</span> Solr socket timeout for HTTP client. Defaults to 1000ms.</td>
    </tr>
    <tr>
      <td class="inlinecode">connectionTimeout</td>
      <td>Int</td>
      <td><span class="label label-info">External only</span> Solr HTTP connection timeout. Defaults to 100ms.</td>
    </tr>
    <tr>
      <td class="inlinecode">maxTotalConnections</td>
      <td>Int</td>
      <td><span class="label label-info">External only</span> Solr HTTP client tunable; defaults to 100.</td>
    </tr>
    <tr>
      <td class="inlinecode">defaultMaxConnectionsPerHost</td>
      <td>Int</td>
      <td><span class="label label-info">External only</span> Solr HTTP client tunable; defaults to 100.</td>
    </tr>
    <tr>
      <td class="inlinecode">assetBatchUpdateWindowMs</td>
      <td>Int</td>
      <td>Window in ms that the Solr Updater will attempt to batch asset updates in. Defaults to 10ms. Increasing this can reduce load on Solr if intaking an asset is triggering multiple asset update tasks.</td>
    </tr>
  </tbody>
</table>
