activator
activator-launch-1.3.5.jar
./logs
project/project
project/target
target
tmp
dist
*.swp
/.idea*
tags
*.log
profileOfH2Tests.html
test.rb
*.db
_site
RUNNING_PID
conf/solr/cores/collins/data
.DS_Store

.cache-main
.cache-tests

.idea
.idea_modules
*.iml

# eclipse project files
.classpath
.project
.settings/*
.externalToolBuilders/
_includes/*
.cache
.tmpBin/
/bin

#emacs files
*~
\#*\#

# jenv java version mgmt
.java-version
/.target/

vendor/
