./logs
project/project
project/target
target
tmp
dist
*.swp
tags
*.log
profileOfH2Tests.html
test.rb
*.db
_site
RUNNING_PID
conf/solr/data/
.DS_Store
Gemfile.lock

.idea
.idea_modules
*.iml

# eclipse project files
.classpath
.project
.settings/*
.externalToolBuilders/
_includes/*

/bin

#emacs files
*~
\#*\#

# jenv java version mgmt
.java-version
