./logs
project/project
project/target
target
tmp
dist
*.swp
tags
*.log
profileOfH2Tests.html
test.rb
*.db
_site
RUNNING_PID
.DS_Store
Gemfile.lock
.idea
.idea_modules

/conf/solr/data/
/conf/dev_authentication.conf


