---
permalink: api.html
title: API Documentation
desc: Collins API Documentation
layout: default
---

<header class="jumbotron subhead" id="page-overview">
  <div class="container">
    <h1>
      The Collins API
    </h1>
    <p class="lead">Getting RESTful with your assets</p>
  </div>
</header>

<div class="container">

  <div class="row">

    <div class="span3 sidebar">
      <ul class="nav nav-list sidenav huge-nav">
        <li><a href="#overview"><i class="icon-chevron-right"></i> API Overview</a></li>
        <li><a href="#asset"><i class="icon-chevron-right"></i> Asset</a>
          <ul class="nav nav-list">
            <li><a href="#api-asset-create-section"><i class="icon-chevron-right cr-dim"></i> Create</a></li>
            <li><a href="#api-asset-update-section"><i class="icon-chevron-right cr-dim"></i> Update</a></li>
            <li><a href="#api-asset-update-status-section"><i class="icon-chevron-right cr-dim"></i> Update Status</a></li>
            <li><a href="#api-asset-get-section"><i class="icon-chevron-right cr-dim"></i> Get</a></li>
            <li><a href="#api-asset-find-section"><i class="icon-chevron-right cr-dim"></i> Find</a></li>
            <li><a href="#api-asset-find-similar-section"><i class="icon-chevron-right cr-dim"></i> Find Similar</a></li>
            <li><a href="#api-asset-delete-tag-section"><i class="icon-chevron-right cr-dim"></i> Delete Tag</a></li>
            <li><a href="#api-asset-delete-section"><i class="icon-chevron-right cr-dim"></i> Delete</a></li>
          </ul>
        </li>
        <li><a href="#asset-management"><i class="icon-chevron-right"></i> Asset Management API</a>
          <ul class="nav nav-list">
            <li><a href="#api-mgmt-ipmi-section"><i class="icon-chevron-right cr-dim"></i> IPMI Info</a></li>
            <li><a href="#api-mgmt-power-do-section"><i class="icon-chevron-right cr-dim"></i> Power Management</a></li>
            <li><a href="#api-mgmt-power-status-section"><i class="icon-chevron-right cr-dim"></i> Power Status</a></li>
            <li><a href="#api-mgmt-provision-section"><i class="icon-chevron-right cr-dim"></i> Provision</a></li>
            <li><a href="#api-mgmt-provision-prof-section"><i class="icon-chevron-right cr-dim"></i> Provision Profiles</a></li>
          </ul>
        </li>
        <li><a href="#asset-log"><i class="icon-chevron-right"></i> Asset Log API</a>
          <ul class="nav nav-list">
            <li><a href="#api-log-create-section"><i class="icon-chevron-right cr-dim"></i> Create</a></li>
            <li><a href="#api-log-get-section"><i class="icon-chevron-right cr-dim"></i> Get</a></li>
            <li><a href="#api-log-get-all-section"><i class="icon-chevron-right cr-dim"></i> Get All</a></li>
          </ul>
        </li>
        <li><a href="#tag"><i class="icon-chevron-right"></i> Tag API</a>
          <ul class="nav nav-list">
            <li><a href="#api-tag-tags-section"><i class="icon-chevron-right cr-dim"></i> List Tags</a></li>
            <li><a href="#api-tag-values-section"><i class="icon-chevron-right cr-dim"></i> List Values</a></li>
          </ul>
        </li>
        <li><a href="#ipam"><i class="icon-chevron-right"></i> IPAM API</a>
          <ul class="nav nav-list">
            <li><a href="#api-ipam-allocate-section"><i class="icon-chevron-right cr-dim"></i> Allocate</a></li>
            <li><a href="#api-ipam-update-section"><i class="icon-chevron-right cr-dim"></i> Update</a></li>
            <li><a href="#api-ipam-delete-section"><i class="icon-chevron-right cr-dim"></i> Delete</a></li>
            <li><a href="#api-ipam-pools-section"><i class="icon-chevron-right cr-dim"></i> Pools</a></li>
            <li><a href="#api-ipam-asset-addresses-section"><i class="icon-chevron-right cr-dim"></i> Asset Addresses</a></li>
            <li><a href="#api-ipam-asset-from-address-section"><i class="icon-chevron-right cr-dim"></i> Asset from Address</a></li>
            <li><a href="#api-ipam-assets-in-pool-section"><i class="icon-chevron-right cr-dim"></i> Assets in Pool</a></li>
          </ul>
        </li>
        <li><a href="#state"><i class="icon-chevron-right"></i> State API</a>
          <ul class="nav nav-list">
            <li><a href="#api-state-create-section"><i class="icon-chevron-right cr-dim"></i> Create</a></li>
            <li><a href="#api-state-update-section"><i class="icon-chevron-right cr-dim"></i> Update</a></li>
            <li><a href="#api-state-delete-section"><i class="icon-chevron-right cr-dim"></i> Delete</a></li>
            <li><a href="#api-state-get-section"><i class="icon-chevron-right cr-dim"></i> Get</a></li>
            <li><a href="#api-state-get-all-section"><i class="icon-chevron-right cr-dim"></i> Get All</a></li>
          </ul>
        </li>
        <li><a href="#misc"><i class="icon-chevron-right"></i> Misc. API</a>
          <ul class="nav nav-list">
            <li><a href="#api-misc-timestamp-section"><i class="icon-chevron-right cr-dim"></i> Timestamp</a></li>
            <li><a href="#api-misc-ping-section"><i class="icon-chevron-right cr-dim"></i> Ping</a></li>
          </ul>
        </li>
        <li><a href="#admin"><i class="icon-chevron-right"></i> Admin</a>
          <ul class="nav nav-list">
            <li><a href="#admin-repopulate_solr-section"><i class="icon-chevron-right cr-dim"></i> Repopulate Solr</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="span9">

      <section id="overview">
        <div class="page-header">
          <h1>Overview</h1>
        </div>
        <p class="lead">Collins API design principles and conventions</p>
        {% include api_overview.html %}
      </section>

      <section id="asset">
        <div class="page-header">
          <h1>Asset API</h1>
        </div>
        <p class="lead">CRUD operations for your assets</p>
        {% include api_assets.html %}
      </section>

      <section id="asset-management">
        <div class="page-header">
          <h1>Asset Management API</h1>
        </div>
        <p class="lead">Provisioning, power management, IPMI data</p>
        {% include api_assetmgmt.html %}
      </section>

      <section id="asset-log">
        <div class="page-header">
          <h1>Asset Log API</h1>
        </div>
        <p class="lead">Audit trail for your assets</p>
        {% include api_logs.html %}
      </section>

      <section id="tag">
        <div class="page-header">
          <h1>Tag API</h1>
        </div>
        <p class="lead">System tag management</p>
        {% include api_tags.html %}
      </section>

      <section id="ipam">
        <div class="page-header">
          <h1>IPAM API</h1>
        </div>
        <p class="lead">IP Address Management</p>
        {% include api_ipam.html %}
      </section>

      <section id="state">
        <div class="page-header">
          <h1>State API</h1>
        </div>
        <p class="lead">Asset state management and API driven state machines</p>
        {% include api_state.html %}
      </section>

      <section id="misc">
        <div class="page-header">
          <h1>Misc. API</h1>
        </div>
        <p class="lead">Miscellaneous endpoints that don't belong anywhere else</p>
        {% include api_misc.html %}
      </section>

      <section id="admin">
        <div class="page-header">
          <h1>Admin API</h1>
        </div>
        <p class="lead">Collins Administrative operations</p>
        {% include api_admin.html %}
      </section>

    </div> <!-- span9 -->

  </div> <!-- row -->

</div> <!-- container -->
