---
layout: default
title: Configuration
desc: Collins Configuration Documentation
permalink: configuration.html
---

<header class="jumbotron subhead" id="page-overview">
  <div class="container">
    <h1>
      Collins Configuration
    </h1>
    <p class="lead">Making Collins yours, a groovy kind of love</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="span3 sidebar">
      <ul class="nav nav-list sidenav">
        <li><a href="#overview"><i class="icon-chevron-right"></i> Overview</a></li>
        <li><a href="#general"><i class="icon-chevron-right"></i> General</a></li>
        <li><a href="#auth"><i class="icon-chevron-right"></i> Authentication</a></li>
        <li><a href="#cache"><i class="icon-chevron-right"></i> Cache</a></li>
        <li><a href="#callbacks"><i class="icon-chevron-right"></i> Callbacks</a></li>
        <li><a href="#features"><i class="icon-chevron-right"></i> Features</a></li>
        <li><a href="#graphs"><i class="icon-chevron-right"></i> Graphs</a></li>
        <li><a href="#ipam"><i class="icon-chevron-right"></i> IP Address</a></li>
        <li><a href="#ipmi"><i class="icon-chevron-right"></i> IPMI</a></li>
	<li><a href="#monitoring"><i class="icon-chevron-right"></i> Monitoring</a></li>
        <li><a href="#multicollins"><i class="icon-chevron-right"></i> MultiCollins</a></li>
        <li><a href="#nodeclassifier"><i class="icon-chevron-right"></i> Nodeclassifier</a></li>
        <li><a href="#powerconfig"><i class="icon-chevron-right"></i> Power Configuration</a></li>
        <li><a href="#powermanagement"><i class="icon-chevron-right"></i> Power Management</a></li>
        <li><a href="#provisioning"><i class="icon-chevron-right"></i> Provisioning</a></li>
        <li><a href="#softlayer"><i class="icon-chevron-right"></i> SoftLayer</a></li>
        <li><a href="#solr"><i class="icon-chevron-right"></i> Solr</a></li>
        <li><a href="#tagdecorators"><i class="icon-chevron-right"></i> Tag Decorators</a></li>
      </ul>
    </div>

    <div class="span9">

      <section id="overview">
        <div class="page-header">
          <h1>Overview</h1>
        </div>
        <p class="lead">Things to know before you configure</p>
	      <p>
          Collins configuration files are type safe. That is, you can't create a configuration that will lead to a runtime
          error. If collins detects a configuration error it will fail to start. If you modify a config after the system
          starts and that config is invalid, it will not load and collins will complain loudly. If this is not the case,
          please file a bug.
	      </p>
        <p>
          Every type of configuration comes with a reference config. Reference configuration files can be found in
          <a href="https://github.com/tumblr/collins/tree/master/conf/reference" target="_blank">the github repo</a>.
          Reference files are not modified by users, they serve to provide Collins with default values as well as to
          tell it what the appropriate value types are (lists, strings, etc). Most reference configurations come with
          some level of documentation as well. In general you should use and make modifications to <code>conf/application.conf</code>.
        </p>
        <p>
          The configuration file that you create for collins is overriding the values found in the reference configs.
          There is a sample configuration in the github repo for you to use as a starting point.
        </p>
        <p>
          You can pass your configuration file to collins by using a system property. Pass <code>-Dconfig.file=/path/to/file</code>
          will cause that file to be used for the application.
        </p>
      </section> <!-- overview -->

      <section id="general">
        <div class="page-header">
          <h1>General</h1>
        </div>
        <p class="lead">Configuration options that don't fit anywhere else</p>
        {% include config_general.html %}
      </section> <!-- general --> 

      <section id="auth">
        <div class="page-header">
          <h1>Authentication</h1>
        </div>
        <p class="lead">Setting up user authentication and authorization</p>
        {% include config_authentication.html %}
      </section> <!-- auth --> 

      <section id="cache">
        <div class="page-header">
          <h1>Cache</h1>
        </div>
        <p class="lead">Making Collins faster</p>
        {% include config_cache.html %}
      </section> <!-- cache --> 

      <section id="callbacks">
        <div class="page-header">
          <h1>Callbacks</h1>
        </div>
        <p class="lead">Hooking into lifecycle events in collins</p>
        {% include config_callbacks.html %}
      </section> <!-- callbacks --> 

      <section id="features">
        <div class="page-header">
          <h1>Features</h1>
        </div>
        <p class="lead">Collins feature flags</p>
        {% include config_features.html %}
      </section> <!-- features --> 

      <section id="graphs">
        <div class="page-header">
          <h1>Graphs</h1>
        </div>
        <p class="lead">Display trending data</p>
        {% include config_graphs.html %}
      </section> <!-- graphs --> 

      <section id="ipam">
        <div class="page-header">
          <h1>IP Address</h1>
        </div>
        <p class="lead">IPAM Configuration</p>
        {% include config_ipam.html %}
      </section> <!-- ipam --> 

      <section id="ipmi">
        <div class="page-header">
          <h1>IPMI</h1>
        </div>
        <p class="lead">Configuring your IPMI network and authentication setup</p>
        {% include config_ipmi.html %}
      </section> <!-- ipmi --> 

      <section id="monitoring">
	<div class="page-header">
	  <h1>Monitoring</h1>
	</div>
	<p class="lead">Monitoring Collins</p>
	
	{% include config_monitoring.html %}
      </section><!-- monitoring -->


      <section id="multicollins">
        <div class="page-header">
          <h1>MultiCollins</h1>
        </div>
        <p class="lead">For when a single data center just isn't enough</p>
        {% include config_multicollins.html %}
      </section> <!-- multicollins --> 

      <section id="nodeclassifier">
        <div class="page-header">
          <h1>Node Classifier</h1>
        </div>
        <p class="lead">Find similar assets</p>
        {% include config_nodeclassifier.html %}
      </section> <!-- nodeclassifier --> 

      <section id="powerconfig">
        <div class="page-header">
          <h1>Power Configuration</h1>
        </div>
        <p class="lead">Power requirements for assets</p>
        {% include config_powerconfiguration.html %}
      </section> <!-- powerconfig --> 

      <section id="powermanagement">
        <div class="page-header">
          <h1>Power Management</h1>
        </div>
        <p class="lead">With great power, comes great responsibility</p>
        {% include config_powermgmt.html %}
      </section> <!-- powermanagement --> 

      <section id="provisioning">
        <div class="page-header">
          <h1>Provisioning</h1>
        </div>
        <p class="lead">Setup provisioning for your environment</p>
        {% include config_provisioning.html %}
      </section> <!-- provisioning --> 

      <section id="softlayer">
        <div class="page-header">
          <h1>SoftLayer</h1>
        </div>
        <p class="lead">Working with SoftLayer</p>
        {% include config_softlayer.html %}
      </section> <!-- softlayer --> 

      <section id="solr">
        <div class="page-header">
          <h1>Solr</h1>
        </div>
        <p class="lead">Better search</p>
        {% include config_solr.html %}
      </section> <!-- solr --> 

      <section id="tagdecorators">
        <div class="page-header">
          <h1>Tag Decorators</h1>
        </div>
        <p class="lead">Taking sexy back</p>
        {% include config_tag_decorators.html %}
      </section> <!-- tagdecorators --> 
    </div> <!-- span9 -->
  </div> <!-- row -->
</div> <!-- container -->
