---
layout: default
title: Recipes
desc: Recipes for useful collins functions
permalink: recipes.html
---

<header class="jumbotron subhead" id="page-overview">
  <div class="container">
    <h1>
      Collins Recipes
    </h1>
    <p class="lead">Real world examples of useful collins snippets</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="span3 sidebar">
      <ul class="nav nav-list sidenav">
        <li><a href="#collins-shell"><i class="icon-chevron-right"></i> Collins Shell</a>
          <ul class="nav nav-list">
            <li><a href="#collins-shell-overview"><i class="icon-chevron-right cr-dim"></i> Overview</a></li>
            <li><a href="#collins-shell-ipmi"><i class="icon-chevron-right cr-dim"></i> IPMI Attach</a></li>
            <li><a href="#collins-shell-console"><i class="icon-chevron-right cr-dim"></i> Console</a></li>
            <li><a href="#collins-shell-status"><i class="icon-chevron-right cr-dim"></i> Power Status</a></li>
            <li><a href="#collins-shell-lldp"><i class="icon-chevron-right cr-dim"></i> LLDP Linecard</a></li>
          </ul>
        </li>
        <li><a href="#callbacks"><i class="icon-chevron-right"></i> Callbacks</a></li>
        <li><a href="#cql"><i class="icon-chevron-right"></i> Collins Query Language</a></li>
        <li><a href="#terminus"><i class="icon-chevron-right"></i> Puppet Terminus</a></li>
      </ul>
    </div>

    <div class="span9">
      <section id="collins-shell">
        <div class="page-header">
          <h1>Collins Shell</h1>
        </div>
        <p class="lead">Good times with the collins shell</p>
        {% include recipes_shell.html %}
      </section>

      <section id="callbacks">
        <div class="page-header">
          <h1>Callbacks</h1>
        </div>
        <p class="lead">Even more good times with callbacks</p>
        <p>
          Stuff goes here
        </p>
      </section>

      <section id="cql">
        <div class="page-header">
          <h1>Collins Query Language</h1>
        </div>
        <p class="lead">Extreme times with the collins query language</p>
        {% include recipes_cql.html %}
        </section>

      <section id="terminus">
        <div class="page-header">
          <h1>Puppet Node Classifier and Fact Terminus</h1>
        </div>
        <p class="lead">Use Collins as your puppet node classifier and fact terminus</p>
        {% include recipes_terminus.html %}
      </section>

    </div>

  </div> <!-- row -->

</div> <!-- container -->
