---
layout: default
title: Tools
desc: The collins toolchain
permalink: tools.html
---

<header class="jumbotron subhead" id="page-overview">
  <div class="container">
    <h1>
      Collins Tools
    </h1>
    <p class="lead">The tools at your disposal to use with collins</p>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="span3 sidebar">
      <ul class="nav nav-list sidenav">
        <li><a href="#overview"><i class="icon-chevron-right"></i> Overview</a></li>
        <li><a href="#sdk"><i class="icon-chevron-right"></i> SDK</a></li>
        <li><a href="#collins-shell"><i class="icon-chevron-right"></i> Collins Shell</a></li>
        <li><a href="#phil"><i class="icon-chevron-right"></i> Phil</a></li>
        <li><a href="#it"><i class="icon-chevron-right"></i> Invisible Touch</a></li>
        <li><a href="#visioner"><i class="icon-chevron-right"></i> Visioner</a></li>
      </ul>
    </div>

    <div class="span9">
      <section id="overview">
        <div class="page-header">
          <h1>Overview</h1>
        </div>
        <p class="lead">The Collins tool chain is at your disposal</p>
        {% include tools_overview.html %}
      </section>
      <section id="sdk">
        <div class="page-header">
          <h1>SDK</h1>
        </div>
        <p class="lead">API access from the language of your choice</p>
        <p>
We realize that you may want to access Collins from a variety of contexts and as such we provide
an SDK for the languages and environments we use at Tumblr. While we don't have an SDK available
for every language, the API is well documented so anyone inclined should have no problem implementing
one.
        </p>
        <p>
The reference implementation is implemented with Ruby, and is considered the most complete
SDK. Anyone looking for a sample implementation is encouraged to review the Ruby collins-client
code. Anytime a new API endpoint is implemented, in addition to documentation, we include
support in the Ruby collins client and if applicable in the collins shell.
        </p>
        <p>
In addition to the Ruby implementation we have a modest Bash library available that has support
for much of the basic core API endpoints. This is the library we use for Invisible Touch.
        </p>
        <p>
We have a very basic python client available as well but it pretty much only implements the
API code needed to support deploys at Tumblr. We would welcome a community contribution.
        </p>
      </section>
      <section id="collins-shell">
        <div class="page-header">
          <h1>Collins Shell</h1>
        </div>
        <p class="lead">CLI access to Collins and your infrastructure</p>
        {% include tools_collins_shell.html %}
      </section>
      <section id="phil">
        <div class="page-header">
          <h1>Phil</h1>
        </div>
        <p class="lead">Generate kickstart and iPXE configs from Collins</p>
        <p>Content</p>
      </section>
      <section id="it">
        <div class="page-header">
          <h1>Invisible Touch</h1>
        </div>
        <p class="lead">Physical intake, burn-in and rescue image</p>
        <p>Content</p>
      </section>
      <section id="visioner">
        <div class="page-header">
          <h1>Visioner</h1>
        </div>
        <p class="lead">Infrastructure automation framework in Ruby</p>
        <p>Content</p>
      </section>

    </div>

  </div> <!-- row -->

</div> <!-- container -->
