@(asset: Asset)(implicit flash: Flash)

@import util.notice
@import helper._

@main("Intake Step 2 - " + asset.secondaryId) {
<div class="page-header">
  <h1>Asset Intake Step 2 <small>Verify Chassis Tag for @asset.secondaryId</small></h1>
</div>
<div class="row">
  <div class="span14">
    @notice("error")
    @notice("warning")
    @form(App.routes.Resources.intake(asset.id, 3), 'class -> "form-stacked") {
    <div class="clearfix">
      <label for="CHASSIS_TAG"><strong>Scan the Chassis Tag</strong></label>
      <div class="input">
        <input type="text" class="focus" id="CHASSIS_TAG" name="CHASSIS_TAG">
      </div>
      <input type="hidden" name="stage" value="3">
    </div>
    <div class="actions">
      <input type="submit" class="btn primary" value="Next &rarr;">
    </div>
    }
  </div>
</div>
}
