@(asset: Asset, chassisTag: String, dataForm: Form[(String,String,String,String)])(implicit flash: Flash)

@import helper._
@import _root_.util.Helpers.formatPowerPort
@import util.notice
@import AssetMeta.Enum._

@main("Intake Step 3 - " + asset.secondary_id) {
<div class="page-header">
  <h1>Asset Intake Step 3 <small>Verify Information for @asset.secondary_id</small></h1>
</div>
<div class="row">
  <div class="span10">
    @notice("error")
    @notice("warning")
    @form(app.routes.Resources.intake(asset.getId, 4)) {
    <div class="clearfix">
      <label for="ASSET_TAG">Asset Tag</label>
      <div class="input">
        <span id="ASSET_TAG" class="uneditable-input">@asset.secondary_id</span>
      </div>
    </div>
    <div class="clearfix">
      <label for="@ServiceTag.toString">Service Tag</label>
      <div class="input">
        <span id="@ServiceTag.toString" class="uneditable-input">@{
          asset.getAttribute(ServiceTag).map{a => a.getValue()}.getOrElse{<em>-</em>}
        }</span>
      </div>
    </div>
    <div class="clearfix">
      <label for="@ChassisTag.toString">Chassis Tag</label>
      <div class="input">
        <span id="@ChassisTag.toString" class="uneditable-input">@chassisTag</span>
      </div>
    </div>
    @inputText(dataForm(RackPosition.toString), 'label -> "Rack Position", Symbol("enter-style") -> "tab", 'class -> "focus")(twitterBootstrapInput)
    @inputText(dataForm(formatPowerPort("A")), 'label -> "Power Port A", Symbol("enter-style") -> "tab")(twitterBootstrapInput)
    @inputText(dataForm(formatPowerPort("B")), 'label -> "Power Port B")(twitterBootstrapInput)
    @dataForm.globalError.map { error =>
      <div class="alert-message error">
        <strong>Unable to intake node</strong> @error.message
      </div>
    }
    <div class="clearfix">
      <input type="hidden" name="@ChassisTag.toString" value="@chassisTag">
      <input type="hidden" name="stage" value="4">
    </div>
    <div class="actions">
      <input type="submit" class="btn primary" value="Done &rarr;">
      <a class="btn" href="@app.routes.Resources.intake(asset.getId, 5)">Cancel</a>
    </div>
    }
  </div>
  <div class="span4">
    <h3>Overview</h3>
    <p>Scan the rack position and individual power ports of the chassis. These values will be
    associated with the node. These values are used for determining what nodes are available in
    which racks, and calculating power utilization/distribution.</p>
  </div>
</div>
}
