@(asset: Asset)(implicit flash: Flash)

@import helper._
@import controllers.conversions._

@main("Intake Step 1 - " + asset.secondaryId) {
<div class="page-header">
  <h1>Asset Intake Step 1 <small>Verify IPMI Light for @asset.secondaryId</small></h1>
</div>
<div class="row">
  <div class="span14">
    <div class="alert-message block-message warning">
      <p><strong>Did the correct light come on?</strong></p>
      <div class="alert-actions">
        <a class="btn primary" alt-key="yes" href="@App.routes.Resources.intake(asset.id, 2)">Yes</a>
        <a class="btn" alt-key="no" href="@App.routes.HelpPage.index(Help.IpmiLight())">No</a>
      </div>
    </div>
  </div>
</div>
}
