@(appStats: List[collins.util.AppStats])(implicit flash: Flash, req: Request[AnyContent])

@import collins.util.views.Formatter
@import collins.util.Stats

@main("Admin Stats") {
<div class="page-header">
  <h1>Stats <small>Server Start Time: @Formatter.dateFormat(Stats.StartupTime)</small></h1>
</div>
<div class="row">
  <div class="col-md-12">
    @appStats.map { stats =>
    <h3><a data-collapsible="@{stats.name}Stats">@{stats.name.capitalize} Stats</a></h3>
    <table id="@{stats.name}Stats" class="table table-bordered table-hover table-condensed">

      <tbody>
        @stats.toMap.map { case(statName, statValue) =>
        <tr>
          <th>@statName</th>
          <td>@statValue</td>
        </tr>
        }
      </tbody>

    </table>
    }
  </div>
</div>
}
