<h2>IPMI Management</h2>

<table class="table table-condensed">
  <thead>
    <tr><td></td><td></td></tr>
  </thead>
  <tbody>
    <tr><th>Description</th><td>Create or update IPMI data</td></tr>
    <tr><th>Request</th><td><code>POST /api/asset/:tag/ipmi</code></td></tr>
    <tr><th>Permission</th><td>controllers.IpmiApi.updateIpmi</td></tr>
    <tr>
      <td colspan="2"><span class="label label-info">Note</span>
        This is one of the few API endpoints that will both create and/or update a resource.
        This will likely change in the future (PUT for create, POST for update). If
        you are creating IPMI info, all parameters below are required. If you are
        updating IPMI info, at least one parameter must be specified.
      </td>
    </tr>
    <tr>
      <th>Parameters</th>
      <td>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><td>Name</td><td>Type</td><td>Description</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">username</th>
              <td>Option[String]</td>
              <td>The IPMI username - must be at least 1 character</td>
            </tr>
            <tr>
              <th class="inlinecode">password</th>
              <td>Option[String]</td>
              <td>The IPMI password - must be at least 8 characters</td>
            </tr>
            <tr>
              <th class="inlinecode">address</th>
              <td>Option[String]</td>
              <td>IPMI address - dotted quad (IPv4) and unused</td>
            </tr>
            <tr>
              <th class="inlinecode">gateway</th>
              <td>Option[String]</td>
              <td>IPMI gateway address - dotted quad (IPv4)</td>
            </tr>
            <tr>
              <th class="inlinecode">netmask</th>
              <td>Option[String]</td>
              <td>IPMI netmask - dotted quad (IPv4)</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Response Codes</th>
      <td>
        <table class="table-hover table-condensed">
          <thead>
            <tr><td>Code</td><td>Reason</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">200</th>
              <td>IPMI information successfully updated</td>
            </tr>
            <tr>
              <th class="inlinecode">201</th>
              <td>IPMI information successfully created</td>
            </tr>
            <tr>
              <th class="inlinecode">404</th>
              <td>Asset not found</td>
            </tr>
            <tr>
              <th class="inlinecode">409</th>
              <td>Duplicate IPMI address</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="example collins-shell">
collins-shell ipmi create \<br>
<span class="tab4"></span>--address=172.168.0.33 \<br>
<span class="tab4"></span>--gateway=172.168.0.1 \<br>
<span class="tab4"></span>--netmask=255.255.255.0 \<br>
<span class="tab4"></span>--ipmi-username=root \<br>
<span class="tab4"></span>--ipmi-password=fizzbuzz \<br>
<span class="tab4"></span>--tag=tumblrtag2<br><br>

collins-shell ipmi update --ipmi-password=fizzbuzz23 --tag=tumblrtag2
</div>

<div class="example curl">
curl --basic -u blake:admin:first \<br>
<span class="tab4"></span>-d address=172.168.0.34 \<br>
<span class="tab4"></span>-d gateway=172.168.0.1 \<br>
<span class="tab4"></span>-d netmask=255.255.255.0 \<br>
<span class="tab4"></span>-d username=root \<br>
<span class="tab4"></span>-d password=fizzbuzz http://localhost:9000/api/asset/tumblrtag3/ipmi<br><br>

curl --basic -u blake:admin:first \<br>
<span class="tab4"></span>-d password=fizzbuzz23 \<br>
<span class="tab4"></span>http://localhost:9000/api/asset/tumblrtag3/ipmi
</div>
<div class="accordion" id="assetmgmt-ipmi-response">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#assetmgmt-ipmi-response" href="#assetmgmt-ipmi-json-response">JSON Response</a>
    </div>
    <div id="assetmgmt-ipmi-json-response" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{
  "status": "success:created",
  "data": {
    "SUCCESS": true
  }
}
{
  "status": "success:ok",
  "data": {
    "SUCCESS": true
  }
}</pre>
      </div>
    </div>
  </div>
</div> <!-- accordion -->
