<h2>Assets in a Pool</h2>

<table class="table table-condensed">
  <thead>
    <tr><td></td><td></td></tr>
  </thead>
  <tbody>
    <tr><th>Description</th><td>Get the assets that are allocated in a specific pool</td></tr>
    <tr><th>Request</th><td><code>GET /api/assets/with/addresses/in/:pool<code></td></tr>
    <tr><th>Permission</th><td>controllers.IpAddressApi.assetsFromPool</td></tr>
    <tr>
      <th>Parameters</th>
      <td>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><td>Name</td><td>Type</td><td>Description</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">pool</th>
              <td>String</td>
              <td>The pool to list assets for</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Response Codes</th>
      <td>
        <table class="table-hover table-condensed">
          <thead>
            <tr><td>Code</td><td>Reason</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">200</th>
              <td>Found one or more assets in the specified pool</td>
            </tr>
            <tr>
              <th class="inlinecode">404</th>
              <td>No assets found in the specified pool, or the pool does not exist</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="example collins-shell">
collins-shell ip_address assets DEV
</div>

<div class="example curl">
curl --basic -u blake:admin:first http://localhost:9000/api/assets/with/addresses/in/DEV
</div>
<div class="accordion" id="ipam-assets-in-pool-response">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#ipam-assets-in-pool-response" href="#ipam-assets-in-pool-json-response">JSON Response</a>
    </div>
    <div id="ipam-assets-in-pool-json-response" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{
  "status": "success:ok",
  "data": {
    "ASSETS": [
      {
        "ID": 1,
        "TAG": "tumblrtag1",
        "STATE": null,
        "STATUS": "Incomplete",
        "TYPE": "Server Node",
        "CREATED": "2012-09-17T14:07:19",
        "UPDATED": null,
        "DELETED": null
      }
    ]
  }
}</pre>
      </div>
    </div>
  </div>
</div> <!-- accordion -->
