<h2>State Create</h2>

<table class="table table-condensed">
  <thead>
    <tr><td></td><td></td></tr>
  </thead>
  <tbody>
    <tr><th>Description</th><td>Create a new asset state</td></tr>
    <tr><th>Request</th><td><code>PUT /api/state/:name</code></td></tr>
    <tr><th>Permission</th><td>controllers.AssetStateApi.createState</td></tr>
    <tr>
      <th>Parameters</th>
      <td>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><td>Name</td><td>Type</td><td>Description</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">name</th>
              <td>String</td>
              <td>A unique name between 2 and 32 characters, must be upper case</td>
            </tr>
            <tr>
              <th class="inlinecode">label</th>
              <td>String</td>
              <td>A friendly display label between 2 and 32 characters</td>
            </tr>
            <tr>
              <th class="inlinecode">description</th>
              <td>String</td>
              <td>A longer description of the state between 2 and 255 characters</td>
            </tr>
            <tr>
              <th class="inlinecode">status</th>
              <td>Option[String]</td>
              <td>Name of the status to bind this state to (e.g. Incomplete, Maintenance, etc), or Any to bind to all status. Any is the default.</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Response Codes</th>
      <td>
        <table class="table-hover table-condensed">
          <thead>
            <tr><td>Code</td><td>Reason</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">201</th>
              <td>State was successfully created</td>
            </tr>
            <tr>
              <th class="inlinecode">409</th>
              <td>State name already in use</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="example collins-shell">
collins-shell state create --name=HW_ON_FIRE \<br>
<span class="tab4"></span>--label='Hardware on Fire' \<br>
<span class="tab4"></span>--description='Use this state if hardware has caught on fire' \<br>
<span class="tab4"></span>--status=Maintenance
</div>

<div class="example curl">
curl --basic -u blake:admin:first \<br>
<span class="tab4"></span>-X PUT \<br>
<span class="tab4"></span>-d label='Hardware on Fire' \<br>
<span class="tab4"></span>-d description='Use this state if hardware has caught on fire' \<br>
<span class="tab4"></span>-d status=Maintenance \<br>
<span class="tab4"></span>http://localhost:9000/api/state/HW_ON_FIRE
</div>
<div class="accordion" id="state-create-response">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#state-create-response" href="#state-create-json-response">JSON Response</a>
    </div>
    <div id="state-create-json-response" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{
  "status": "success:created",
  "data": {
    "SUCCESS": true
  }
}</pre>
      </div>
    </div>
  </div>
</div> <!-- accordion -->
