<h2>List Tag Values</h2>

<table class="table table-condensed">
  <thead>
    <tr><td></td><td></td></tr>
  </thead>
  <tbody>
    <tr><th>Description</th><td>List all the unique values given a specific tag</td></tr>
    <tr><th>Request</th><td><code>GET /api/tag/:tag</code></td></tr>
    <tr><th>Permission</th><td>controllers.TagApi.getTagValues</td></tr>
    <tr>
      <th>Parameters</th>
      <td>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><td>Name</td><td>Type</td><td>Description</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">tag</th>
              <td>String</td>
              <td>Must be alphanumeric (but can include underscores and dashes) and exist</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Response Codes</th>
      <td>
        <table class="table-hover table-condensed">
          <thead>
            <tr><td>Code</td><td>Reason</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">200</th>
              <td>One or more tag values successfully found</td>
            </tr>
            <tr>
              <th class="inlinecode">404</th>
              <td>No such tag</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="example collins-shell">
collins-shell tag values CHASSIS_TAG
</div>

<div class="example curl">
curl --basic -u blake:admin:first http://localhost:9000/api/tag/CHASSIS_TAG
</div>
<div class="accordion" id="api-tag-values-response">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#api-tag-values-response" href="#api-tag-values-json-response">JSON Response</a>
    </div>
    <div id="api-tag-values-json-response" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{
  "status": "success:ok",
  "data": {
    "values": [
      "chassis tag abc"
    ]
  }
}</pre>
      </div>
    </div>
  </div>
</div> <!-- accordion -->
