<h2>Overview</h2>
<p>
The Asset API is the primary interface for manipulating Collins assets. The
operations that can be performed is somewhat dependent on the status of an asset
(for instance, you can not upload new LSHW data to an asset that is Allocated).
For more information on asset states and status see the
<a href="concepts.html#status-state">Status &amp; State</a> document. 
</p>

<section id="api-asset-create-section">
{% include api_assets_create.html %}
</section>

<section id="api-asset-update-section">
{% include api_assets_update.html %}
</section>

<section id="api-asset-update-status-section">
{% include api_assets_update_status.html %}
</section>

<section id="api-asset-get-section">
{% include api_assets_get.html %}
</section>

<section id="api-asset-find-section">
{% include api_assets_find.html %}
</section>

<section id="api-asset-find-similar-section">
{% include api_assets_find_similar.html %}
</section>

<section id="api-asset-delete-tag-section">
{% include api_assets_delete_tag.html %}
</section>

<section id="api-asset-delete-section">
{% include api_assets_delete.html %}
</section>

