<h2>Overview</h2>
<p>
The logs API is fairly straight forward, offering only 3 endpoints to interact
with. You can create logs, fetch logs for a specific asset, or fetch all logs.
All log levels (referred to as type in the API) are listed below.
</p>

{% include logs.html %}

<section id="api-log-create-section">
{% include api_logs_create.html %}
</section>

<section id="api-log-get-section">
{% include api_logs_get.html %}
</section>

<section id="api-log-get-all-section">
{% include api_logs_get_all.html %}
</section>
