<h2>Log Get All</h2>

<table class="table table-condensed">
  <thead>
    <tr><td></td><td></td></tr>
  </thead>
  <tbody>
    <tr><th>Description</th><td>Get all log data, not bound to a specific asset</td></tr>
    <tr><th>Request</th><td><code>GET /api/assets/logs</code></td></tr>
    <tr><th>Permission</th><td>controllers.AssetLogApi.getAllLogData</td></tr>
    <tr>
      <th>Parameters <span class="label label-info">Paginated</span></th>
      <td>
        <table class="table table-hover table-condensed">
          <thead>
            <tr><td>Name</td><td>Type</td><td>Description</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">filter</th>
              <td>Option[String]</td>
              <td>A semicolon (;) list of log types to fetch. Prefix a type with a <code>!</code> to exclude that type.</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th>Response Codes</th>
      <td>
        <table class="table-hover table-condensed">
          <thead>
            <tr><td>Code</td><td>Reason</td></tr>
          </thead>
          <tbody>
            <tr>
              <th class="inlinecode">200</th>
              <td>Zero or more logs were successfully retrieved</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<div class="example collins-shell">
collins-shell logs all
</div>

<div class="example curl">
curl --basic -u blake:admin:first http://localhost:9000/api/assets/logs
</div>
<div class="accordion" id="assetlog-api-get-all-response">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#assetlog-api-get-all-response" href="#assetlog-api-get-all-json-response">JSON Response</a>
    </div>
    <div id="assetlog-api-get-all-json-response" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{
  "status": "success:ok",
  "data": {
    "Pagination": {
      "PreviousPage": 0,
      "CurrentPage": 0,
      "NextPage": 0,
      "TotalResults": 3
    },
    "Data": [
      {
        "ID": 3,
        "ASSET_TAG": "tumblrtag1",
        "CREATED": "2012-09-17T13:04:52",
        "FORMAT": "text\/plain",
        "SOURCE": "API",
        "TYPE": "DEBUG",
        "MESSAGE": "User blake: Hello World"
      },
      {
        "ID": 2,
        "ASSET_TAG": "tumblrtag1",
        "CREATED": "2012-09-17T12:53:15",
        "FORMAT": "text\/plain",
        "SOURCE": "API",
        "TYPE": "DEBUG",
        "MESSAGE": "User blake: Hello World"
      },
      {
        "ID": 1,
        "ASSET_TAG": "tumblrtag1",
        "CREATED": "2012-09-17T12:53:07",
        "FORMAT": "text\/plain",
        "SOURCE": "INTERNAL",
        "TYPE": "INFORMATIONAL",
        "MESSAGE": "Automatically created by database migration"
      }
    ]
  }
}</pre>
      </div>
    </div>
  </div>
</div> <!-- accordion -->
