<p class="lead">Ways you can break some stuff</p>
<div class="row">
  <div class="col-md-6">
    <p>
      The collins web UI tries to expose most of the actions you can take on an asset. Things like host provisioning, maintenance,
      logging and power management are all available to you. Which actions are available depends on the asset type, the asset status,
      the collins configuration, and your privileges. For instance, you can not provision an asset that is already allocated. You can
      not put an asset in maintenance mode that is already in maintenance mode. For the most part application actions are available
      only when they are applicable.
    </p>
    <p>
      <span class="label label-info">Note</span> Everything below the divider line
      in the drop down is a potentially destructive or disruptive action and will be
      called out as such in the UI.
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="img/asset_actions.png" alt="Asset Actions">
        <div class="caption">
          <h3>Asset Actions</h3>
          <p>You can find the available actions for an asset in the actions drop down.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="asset-provisioning">
  <div class="page-header">
    <h2>Provisioning</h2>
  </div>
  <p>
    For provisioning purposes you'll want to search for hosts that are unallocated. Do not allocate hosts in any other state.
  </p>
  <p>
    To provision a host just click the 'Provision Server' link in the actions drop down. You will be presented with a dialog
    like the following:
  </p>
  <div class="row">
    <div class="col-md-6">
      <a href="img/asset_provision.png" target="_blank" class="thumbnail">
        <img src="img/asset_provision.png" alt="Host Provisioning">
      </a>
    </div>
  </div>
  <p>
    Depending on the profile you choose (web, database, etc) you will have a different set of configurable options made
    available to you. The profile and options you specify will dictate what role in the environment the host will eventually
    play. If something is optional (such as secondary role in this dialog) and you're unsure, just leave it unspecified.
  </p>
  <p>
    When you're ready just click the 'Provision Server' button. This takes 30-60 seconds to return. During this process we
    verify any required settings for the specified host and reboot it onto a reinstall image. Once control is returned to
    you, the dialog will close and you should notice that the primary role, pool, nodeclass, contact and some other options
    have been changed to reflect the settings you specified. Also note that the status has changed from Incomplete to Provisioning.
  </p>
  <p>
    Once the initial provisioning has successfully completed (the remaining steps, such as puppet and func cleanup), you'll
    see a hipchat notification in the builds room. Once the machine is fully provisioned, the status will change automatically
    to provisioned. In the near future we'll use the contact tag to again notify you that the machine has finished the
    provisioning process.
  </p>
</section>
<section id="asset-maintenance">
  <div class="page-header">
    <h2>Maintenance</h2>
  </div>
  <p>
    On occasion you will need to put an asset into maintenance. In our environment, once you do that this triggers a few events
    such as pulling the host out of any upstream proxy configurations or potentially re-generating DNS. This should generally
    be something performed by people on the operations team, however there may be times when you need a machine that has had some
    kind of provisioning problem occur go into maintenance so you can reprovision it. In that case, again in the actions drop down,
    you can just click the start maintenance button to change the status of the machine to maintenance mode. Once in maintenance
    mode you can reprovision the host if needed. If you're unsure, ask the person listed under the contact tag.
  </p>
  <div class="row">
    <div class="col-md-6">
      <a href="img/asset_maintenance.png" target="_blank" class="thumbnail">
        <img src="img/asset_maintenance.png" alt="Asset Maintenance">
      </a>
    </div>
</row>
  <p>
    In EWR, putting a host into maintenance mode will cause a JIRA ticket to be generated if the maintenance type you select is
    HARDWARE_PROBLEM, IPMI_PROBLEM, or NETWORK_PROBLEM so choose a state accordingly.
  </p>
</section>

<section id="asset-cancel">
  <div class="page-header">
    <h2>Cancellation</h2>
  </div>
  <p>
    Cancelling a server will cause it to be handed back to any neccesary hosting providers, and will shred the filesystem data before
    doing so. This process takes 3-5 days to complete. Server cancellations should generally only be done by people on the SRE or operations
    teams.
  </p>
  <div class="row">
    <div class="col-md-6">
      <a href="img/asset_cancel.png" target="_blank" class="thumbnail">
        <img src="img/asset_cancel.png" alt="Asset Cancellation">
      </a>
    </div>
  </div>
  <p>
    Only assets that are not owned by Tumblr can be cancelled.
  </p>
</section>

<section id="asset-delete">
  <div class="page-header">
    <h2>Deletion</h2>
  </div>
  <p>
    There are rare occasions, particularly if an asset went through intake with bad data (e.g. the wrong tag), where you may
    want to actually delete an asset. At Tumblr this can be performed by the datacenter team or Blake. This is an absolutely
    destructive act and should generally not be done.
  </p>
  <div class="row">
    <div class="col-md-6">
      <a href="img/asset_delete.png" target="_blank" class="thumbnail">
        <img src="img/asset_delete.png" alt="Asset Deletion">
      </a>
    </div>
  </div>
  <p>
    If you have appropriate permissions you can delete an asset via the web UI. This option is not available via the API.
  </p>
</section>

<section id="asset-powermanagement">
  <div class="page-header">
    <h2>Power Management</h2>
  </div>
  <p>
    A variety of power management functions are available in the UI. In fact, some of these are only available in the UI. These allow
    you to perform actions like soft reboots, hard reboots, powering off a machine, etc. Note that what power actions are available
    when an asset is allocated is configurable, so some power actions may not be available.
  </p>
  <div class="row">
    <div class="col-md-6">
      <a href="img/asset_powermanagement.png" target="_blank" class="thumbnail">
        <img src="img/asset_powermanagement.png" alt="Power Management">
      </a>
    </div>
  </div>
  <p>
    With great power comes great responsibility.
  </p>
  <p>
    It is also possible to check power status or perform an IPMI identify via the 'IPMI Info' tab.
  </p>
</section>

<section id="asset-logs">
  <div class="page-header">
    <h2>Log Creation</h2>
  </div>
  <p>
    The logs for an asset are created by both internal and external processes. There is an API available for creating new log
    entries and querying existing ones, but log entries are immutable and permanent, there is no delete support, even once an asset
    is decommissioned. These logs give you a permanent historical view of lifecycle related events such as provisions and cancellations
    as well as changes in tag values.
  </p>
  <div class="row">
    <div class="col-md-6">
      <a href="img/asset_note.png" target="_blank" class="thumbnail">
        <img src="img/asset_note.png" alt="Asset Notes">
      </a>
    </div>
  </div>
  <p>
    Although in the UI you will see a few entries that say "User unknown", the user account record is actually stored and this is a UI
    bug. By design, no changes or updates to an asset can happen without leaving some kind of an audit trail.
  </p>
  <p>
    The create a note web UI action allows you to create a log entry for an asset.
  </p>
</section>

<section id="asset-activation">
  <div class="page-header">
    <h2>Activation</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        If an activation plugin has been configured you will be able to provision virtual assets.
        These hosts will have a status of Incomplete. Activation will move the host into New until
        it is ready for use. The UI for this is nearly identical to provisioning because the
        provisioning process will run once the host is available.
      </p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="img/asset_activate.png" alt="Asset Activation">
          <div class="caption">
            <h3>Asset Activation</h3>
            <p>The asset activation drop down item</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
