<p>
<span class="label label-info">Namespace</span> <span class="inlinecode">ipAddresses</span></small>
</p>

<p>
The Collins IPAM configuration is pretty straight forward. You specify more or less a set of pools that
are available for allocation. Once configured, assets can have addresses from any of these pools assigned
to them.
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Key</th><th>Type</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="inlinecode">defaultPoolName</td>
      <td>String</td>
      <td>If no pool name is specified, this is the one to use. Defaults to DEFAULT.</td>
    </tr>
    <tr>
      <td class="inlinecode">strict</td>
      <td>Boolean</td>
      <td>
          If true (default), refuse to create addresses in undefined pools. This is primarily useful to set to false
          if you don't control your IP space and you get addresses from a 3rd party.
      </td>
    </tr>
    <tr>
      <td class="inlinecode">pools</td>
      <td>Object</td>
      <td>A configured set of pools to allocate from</td>
    </tr>
  </tbody>
</table>

<div class="example example-config">
<pre>ipAddresses {
  pools {
    DEV {
      startAddress = "172.16.4.4"
      network = "172.16.4.0/28"
    }
    ROW_1_1 {
      name = "ROW_1.1"
      startAddress = "172.16.64.5"
      network = "172.16.64.0/24"
    }
  }
}</pre>
</div>

<p>
The above configuration now allows you to allocate addresses out of two pools, a DEV pool and a ROW_1.1 pool.
Notice that the ROW_1.1 pool had to specify a name. This is because an object name can not contain a period
so must actually set the name manually as a string. The DEV pool did not have to do this. At Tumblr we have
found pool names most useful for mapping to a particular VLAN and handling VLAN assignments using this information.
</p>

<h2>Pool Config</h2>

<p>
Each pool can take a name, gateway, startAddress and network.
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Key</th><th>Type</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="inlinecode">name</td>
      <td>String</td>
      <td>The name of the pool. Defaults to the key of the pool.</td>
    </tr>
    <tr>
      <td class="inlinecode">network</td>
      <td>String</td>
      <td>The network to use for address allocation in CIDR notation. Defaults to 10.0.0.0/16.</td>
    </tr>
    <tr>
      <td class="inlinecode">startAddress</td>
      <td>Option[String]</td>
      <td>The IP address to use to start allocating addresses at. Defaults to 10.0.0.10.</td>
    </tr>
    <tr>
      <td class="inlinecode">gateway</td>
      <td>Option[String]</td>
      <td>If the gateway is not in the network range, specify it here</td>
    </tr>
  </tbody>
</table>

