<p>
<span class="label label-info">Namespace</span> <span class="inlinecode">softlayer</span>
</p>

<p>
Although Collins was initially developed as Tumblr built out its own datacenter, we found it an
excellent replacement for the SoftLayer web interface. The SoftLayer plugin provides support for
cancelling servers, activating servers from the spare pool, and decorating tags that are SoftLayer
specific.
</p>

<p>
<span class="label label-danger">Note</span> The Collins system assumes that asset tags
associated with SoftLayer assets are of the form <code>sl-ID</code> where ID is the SoftLayer
ID.
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Key</th><th>Type</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="inlinecode">enabled</td>
      <td>Boolean</td>
      <td>Defaults to false</td>
    </tr>
    <tr>
      <td class="inlinecode">username</td>
      <td>String</td>
      <td>Your SoftLayer username</td>
    </tr>
    <tr>
      <td class="inlinecode">password</td>
      <td>String</td>
      <td>Your SoftLayer API password</td>
    </tr>
    <tr>
      <td class="inlinecode">allowedCancelStatus</td>
      <td>Set[String]</td>
      <td>Assets with any of these status can be cancelled.</td>
    </tr>
  </tbody>
</table>

<div class="example example-config">
<pre>softlayer {
  enabled = true
  username = "jimbob123"
  password = "lkajsdlkjaas09823lkajdslkajsd"
  allowedCancelStatus = [Unallocated, Allocated, Maintenance]
}</pre>
</div>

<p>
The above configuration would perform operations as user jimbob and allow you
to cancel assets in the specified status.
</p>
