<p>
<span class="label label-info">Namespace</span> <span class="inlinecode">tagdecorators</span>
</p>

<p>
Tag decorators allow you to change how tags are displayed on asset. Creating links, formatting names, anything is fair game. The best way to illustrate is through an example.
</p>

<div class="example reference-config">
  <pre><code>
tagdecorators {
  templates {
    search = "&lt;a href=\"/resources?{name}={value}\"&gt;{value}&lt;/a&gt;"
  }
  decorators {
    APPLICATION_SHA.decorator    = "&lt;a target=\"_blank\" href=\"https://scm.site.net/commit/{value}\"&gt;{value}&lt;/a&gt;"
    CONTACT.decorator       = "&lt;a href=\"mailto:{value}\"&gt;{value}&lt;/a&gt;"
    CONTACT_NOTES.decorator = "&lt;a target=\"_blank\" href=\"{value}\"&gt;{value}&lt;/a&gt;"
    RACK_POSITION {
      decorator = ${tagdecorators.templates.search}
      valueParser = "util.views.DelimiterParser"
      delimiter = "-"
      between = "-"
    }
    NODECLASS.decorator = ${tagdecorators.templates.search}
    IP_ADDRESS {
      decorator="&lt;a href=\"ssh://{value}\"&gt;>{value}&lt;/a&gt;"
      between=", "
    }
    HYPERVISOR.decorator  = "&lt;a href=\"/resources?TAG={value}\"&gt;{value}&lt;/a&gt;"
    AVAILABILITY_ZONE.decorator     = "&lt;a href=\"/resources?IS_AVAILABILITY_ZONE=true&NAME={value}\"&gt;{value}&lt;/a&gt;"
  }
}
  </code></pre>
</div>
