<section id="managed-tags" class="tag-container">
  <h3>Managed Tags</h3>

  <p>
    Most hardware information is gleaned from LSHW and most networking information is taken from LLDP.
    The usefulness of the hardware information is dependent on the version of LSHW (recent versions get better information).
    The LLDP information in SoftLayer is entirely faked by converting the output from `ifconfig` to an LLDP compatible format.
  </p>
  
  <p>
    Managed tags automatically use an additional dimension if required. For example, say you have two memory sticks and we're
    tracking a description and size for each stick. Collins will create two 'groups', one that represents each memory stick.
    This is how collins differentiates between the same tag being used multiple times for the same asset.
  </p>
  
  <h4>General Information</h4>
  <p>
    All of these are specified as HTTP parameters during the intake process. These are not inferred, but specified.
  </p>
  <table class="table-hover table-condensed">
    <thead>
      <td>Tag</td><td>Type</td><td>Description</td>
    </thead>
    <tbody>
      <tr>
        <td class="inlinecode">SERVICE_TAG</td>
        <td>String</td>
        <td>Vendor service tag (e.g. dell tag)</td>
      </tr>
      <tr>
        <td class="inlinecode">CHASSIS_TAG</td>
        <td>String</td>
        <td>Manufacturer serial number</td>
      </tr>
      <tr>
        <td class="inlinecode">RACK_POSITION</td>
        <td>String</td>
        <td>Physical position in the rack</td>
      </tr>
      <tr>
        <td class="inlinecode">POWER_PORT_A</td>
        <td>String</td>
        <td>The port in the CDU that the asset is attached to. The name and value will depend on your power configuration (detailed in <a href="configuration.html">configuration</a>)</td>
      </tr>
    </tbody>
  </table>
  
  <h4>CPU Information</h4>
  <p>
    Collins assumes that each CPU is identical so only uses one dimension to represent all CPU's.
    Collins creates the visual hardware representation based on the <code>CPU_COUNT</code>. This information is taken from LSHW.
  </p>
  <table class="table-hover table-condensed">
    <thead>
      <td>Tag</td><td>Type</td><td>Description</td>
    </thead>
    <tbody>
      <tr>
        <td class="inlinecode">CPU_COUNT</td>
        <td>Integer</td>
        <td>Physical CPU count in machine</td>
      </tr>
      <tr>
        <td class="inlinecode">CPU_CORES</td>
        <td>Integer</td>
        <td>Number of cores per physical CPU</td>
      </tr>
      <tr>
        <td class="inlinecode">CPU_THREADS</td>
        <td>Integer</td>
        <td>Number of threads per core</td>
      </tr>
      <tr>
        <td class="inlinecode">CPU_SPEED_GHZ</td>
        <td>Float</td>
        <td>Speed of CPU</td>
      </tr>
      <tr>
        <td class="inlinecode">CPU_DESCRIPTION</td>
        <td>String</td>
        <td>Vendor description or label</td>
      </tr>
    </tbody>
  </table>
  
  <h4>Memory Information</h4>
  <p>
    Collins represents a stick of RAM using the dimension (dictates bank used), <code>MEMORY_SIZE_BYTES</code> and <code>MEMORY_DESCRIPTION</code>.
    Each dimension represents a stick of RAM present in an asset.
    Collins creates the visual representation of the RAM layout by using the <code>MEMORY_BANKS_TOTAL</code>
      and filling in the sticks that are missing. No additional data is stored on missing RAM.
    This information is taken from LSHW.
  </p>
  <table class="table-hover table-condensed">
    <thead>
      <td>Tag</td><td>Type</td><td>Description</td>
    </thead>
    <tbody>
      <tr>
        <td class="inlinecode">MEMORY_SIZE_BYTES</td>
        <td>Long</td>
        <td>Size of single RAM module</td>
      </tr>
      <tr>
        <td class="inlinecode">MEMORY_DESCRIPTION</td>
        <td>String</td>
        <td>Vendor description or label</td>
      </tr>
      <tr>
        <td class="inlinecode">MEMORY_SIZE_TOTAL</td>
        <td>Long</td>
        <td>Total number of bytes (<code>MEMORY_SIZE_BYTES</code> * number of modules)</td>
      </tr>
      <tr>
        <td class="inlinecode">MEMORY_BANKS_TOTAL</td>
        <td>Integer<td>
        <td>Total number of RAM banks</td>
      </tr>
    </tbody>
  </table>
  
  <h4>Network Information</h4>
  <p>
    Collins represents a NIC with its <code>NIC_SPEED</code>, <code>MAC_ADDRESS</code> and <code>NIC_DESCRIPTION</code>.
    Each dimension represents a different physical network card.
    This information is taken from LSHW.
  </p>
  <table class="table-hover table-condensed">
    <thead>
      <td>Tag</td><td>Type</td><td>Description</td>
    </thead>
    <tbody>
      <tr>
        <td class="inlinecode">NIC_SPEED</td>
        <td>Long</td>
        <td>Speed in bits per second</td>
      </tr>
      <tr>
        <td class="inlinecode">MAC_ADDRESS</td>
        <td>String</td>
        <td>MAC address of network interface</td>
      </tr>
      <tr>
        <td class="inlinecode">NIC_DESCRIPTION</td>
        <td>String</td>
        <td>Vendor description or label</td>
      </tr>
    </tbody>
  </table>
  
  <h4>Disk Information</h4>
  <p>
    Collins represents a disk with its <code>DISK_SIZE_BYTES</code>, <code>DISK_TYPE</code> and <code>DISK_DESCRIPTION</code>.
    Each dimension represents a different physical disk.
    This information is taken from LSHW.
  </p>
  <table class="table-hover table-condensed">
    <thead>
      <td>Tag</td><td>Type</td><td>Description</td>
    </thead>
    <tbody>
      <tr>
        <td class="inlinecode">DISK_SIZE_BYTES</td>
        <td>Long</td>
        <td>Size in bytes of disk. This will occasionally report as 0 when the disk is part of a RAID group, or in the case of a CD-ROM. The number of physical disks and storage total will still be accurate in this case.</td>
      </tr>
      <tr>
        <td class="inlinecode">DISK_TYPE</td>
        <td>Enum</td>
        <td>Type of disk. IDE, SCSI, PCIe, or CD-ROM.</td>
      </tr>
      <tr>
        <td class="inlinecode">DISK_DESCRIPTION</td>
        <td>String</td>
        <td>Vendor description or label</td>
      </tr>
      <tr>
        <td class="inlinecode">DISK_STORAGE_TOTAL</td>
        <td>String</td>
        <td>Sum of size for all disks. Because this number of often larger than a Long, it is stored as a String</td>
      </tr>
    </tbody>
  </table>
  
  <h4>LLDP Information</h4>
  <p>
    Collins represents each interface connected to an LLDP capable device using all of the information below.
    Each dimension represents a different physically connected network interface. Each interface may have zero or
    more VLAN's. This information is taken from LLDP.
  </p>
  <ul>
    <li class="inlinecode">LLDP_INTERFACE_NAME</li>
    <li class="inlinecode">LLDP_CHASSIS_NAME</li>
    <li class="inlinecode">LLDP_CHASSIS_ID_TYPE</li>
    <li class="inlinecode">LLDP_CHASSIS_ID_VALUE</li>
    <li class="inlinecode">LLDP_CHASSIS_DESCRIPTION</li>
    <li class="inlinecode">LLDP_PORT_ID_TYPE</li> 
    <li class="inlinecode">LLDP_PORT_ID_VALUE</li>
    <li class="inlinecode">LLDP_PORT_DESCRIPTION</li>
    <li class="inlinecode">LLDP_VLAN_ID</li>
    <li class="inlinecode">LLDP_VLAN_NAME</li>
  </ul>
</section>
