html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
}

@media (max-height: 900px) {
  .modal.fade.dynamicModal.in {
    top: 37%;
  }
  .dynamicModal * .modal-body {
    max-height: 500px;
  }
}

@media (min-height: 900px) and (max-height: 1000px) {
  .modal.fade.dynamicModal.in {
    top: 37%;
  }
  .dynamicModal * .modal-body {
    max-height: 600px;
  }
}

@media (min-height: 1000px) {
  .modal.fade.dynamicModal.in {
    top: 37%;
  }
  .dynamicModal * .modal-body {
    max-height: 700px;
  }
}

/* Fix for tables getting scrollbars */
.tab-content {
  display: table;
  width: 100%;
}

div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
  outline: none;
}

/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.sectional {
  position: relative;
  margin: 15px 0;
  padding: 5px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.sectional * .pagination {
  position: relative;
  top: -20px;
}
