<p class="lead">CLI access to Collins and your infrastructure</p>
<h2>Overview</h2>

<p><span class="label label-warning">WARNING:</span> This utility is no longer maintained, and users should try to migrate over to <a href="#collins-cli">collins-cli</a> where possible.</p>

<p>
One of the tools in the collins tool chain is the collins shell. The collins shell provides a command
line tool with complete API access to all API endpoints. The collins shell also provides an interactive
console, built around <a href="https://github.com/pry/pry">pry</a> giving you a full ruby environment
for task automation.
</p>

<h2>Installation</h2>
<p>
Note that rvm is not a requirement for using the collins shell. Ruby 1.9.x is however. I recommend
using ruby 1.9.3 because that's what we develop with at Tumblr. 1.9.2 probably also works, 1.8.x will not work.
There is additional information on installing rvm <a target="_blank" href="https://rvm.io/rvm/install/">here</a>.
</p>
<pre>
$ curl -L get.rvm.io | bash -s stable --ruby
$ rvm install 1.9.3
$ rvm use 1.9.3
$ gem install collins_shell
</pre>

<h2>Setup</h2>
<p>
By default <code>collins-shell</code> looks for a configuration file in <code>~/.collins.yaml</code>. You can
specify an alternate location to use with the <code>--config=/path/to/collins.yaml</code> option or using
the <code>COLLINS=/path/to/collins.yaml</code> environment variable. There is a sample config file below.
</p>

<div class="example example-config">
<pre>---
host: https://collins.example.org
username: "joeuser"
password: "secret"
timeout: 30</pre>
</div>

<p>
If configuration files aren't your thing you can just all the variables from the config in via command options.
You can specify the host, username and password via the <code>--host</code>, <code>--username</code>,
and <code>--password</code> options. If you just specify <code>--password</code> (without a value), or your configs
are missing a password, you will be prompted for one. The password prompt masks your input.
</p>

<h2>Usage</h2>
<p>
Before using any command, check out the help. You can see help for a command by running:
</p>

<div class="example example-command">
<pre>collins-shell help &lt;command&gt;</pre>
<pre>collins-shell &lt;sub&gt; help &lt;command&gt;</pre>
</div>

<p>
&lt;sub&gt; is something like <code>asset</code>, <code>ipmi</code>, or <code>ip_address</code> and
&lt;command&gt; is something like <code>create</code>, <code>delete</code> or <code>get</code>.
</p>

<div class="accordion" id="rec-shell-overview-ex">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#rec-shell-overview-ex" href="#rec-shell-overview-cmd">Example</a>
    </div>
    <div id="rec-shell-overview-cmd" class="accordion-body collapse">
      <div class="accordion-inner">
<pre><small><strong>&gt; collins-shell</strong>
Tasks:
  collins-shell asset &lt;command&gt;                         # Asset related commands
  collins-shell console                                 # drop into the interactive collins shell
  collins-shell help [TASK]                             # Describe available tasks or one specific task
  collins-shell ip_address &lt;command&gt;                    # IP address related commands
  collins-shell ipmi &lt;command&gt;                          # IPMI related commands
  collins-shell latest                                  # check if there is a newer version of collins-shell
  collins-shell log MESSAGE                             # log a message on an asset
  collins-shell logs TAG                                # fetch logs for an asset specified by its tag. Use "all" for all logs
  collins-shell power ACTION --reason=REASON --tag=TAG  # perform power action (off, on, rebootSoft, rebootHard, etc) on an asset
  collins-shell power_status                            # check power status on an asset
  collins-shell provision &lt;command&gt;                     # Provisioning related commands
  collins-shell state &lt;command&gt;                         # State management related commands - use with care
  collins-shell tag &lt;command&gt;                           # Tag related commands
  collins-shell version                                 # current version of collins-shell

<strong>&gt; collins-shell asset</strong>
Tasks:
  collins-shell asset create --tag=TAG                  # create an asset in collins
  collins-shell asset delete --reason=REASON --tag=TAG  # delete an asset in collins (must be cancelled)
  collins-shell asset delete_attribute KEY              # delete an attribute in collins
  collins-shell asset find --selector=key value         # find assets using the specified selector
  collins-shell asset find_similar TAG                  # get similar unallocated assets for a gven asset
  collins-shell asset get TAG                           # get an asset and display its attributes
  collins-shell asset help [COMMAND]                    # Describe subcommands or one specific subcommand
  collins-shell asset set_attribute KEY VALUE           # set an attribute in collins
  collins-shell asset set_status --reason=REASON        # set status, state, or both on an asset


<strong>&gt; collins-shell asset help get</strong>
Usage:
  collins-shell asset get TAG

Options:
  [--config=CONFIG]      # YAML configuration file
  [--debug]              # Debug output
  [--host=HOST]          # Collins host (e.g. http://host:port)
  [--password=PASSWORD]  # Collins password
  [--quiet]              # Be quiet when appropriate
  [--timeout=N]          # Collins client timeout
                         # Default: 30
  [--username=USERNAME]  # Collins username
  [--confirm]            # Require exec confirmation. Defaults to true
                         # Default: true
  [--exec=EXEC]          # Execute a command using the data from this asset. Use &#123;&#123;hostname&#125;&#125;, &#123;&#123;ipmi.password&#125;&#125;, etc for substitution
  [--logs]               # Also display asset logs
  [--remote=REMOTE]      # Remote location to search. This is a tag in collins corresponding to the datacenter asset

get an asset and display its attributes</small></pre>
      </div> <!-- accordion inner -->
    </div> <!-- accordion-body -->
  </div> <!-- accordion-group -->
</div> <!-- accordion -->

<ul class="thumbnails">
  <li class="col-md-9">
    <div class="thumbnail">
      <a href="img/collins_shell.png" target="_blank"><img src="img/collins_shell.png" alt="Collins Shell get asset"></a>
      <h3>Collins Get</h3>
      <p>The collins shell provides you with all the same information available to you in the web UI, in an easy to digest format.</p>
    </div>
  </li>
</ul>

<h2>Universal Options</h2>

<p>
The following list of options can be specified with every collins shell command. In some
cases (development) it may be useful to set the environment variable <code>COLLINS_DEBUG=true</code>
which will turn on HTTP level debugging. Use this in conjunction with the <code>--debug</code> option.
</p>

<div class="example example-command">
<pre>--config=CONFIG       # YAML configuration file
--debug               # Debug output
--host=HOST           # Collins host (e.g. http://host:port)
--quiet               # Mostly used in conjunction with commands that have an --exec option
--timeout=SECONDS     # Seconds to allow for operation, defaults to 30
--username=USERNAME   # Collins username
--password=PASSWORD   # Collins password</pre>
</div>

<h2>Common Options</h2>

<p>
Many options will allow you to specify either a selector (matching many assets) or a tag (matching a single asset). A tag is the asset tag, a selector is a space separated list of key:value pairs that are asset keys and values.
</p>

<div class="example example-command">
<pre># Allocated web servers (note that multiple selectors are separated by a space)
--selector=hostname:'^web.*' status:Allocated
# Allocated master database servers in the main pool
--selector=primary_role:database pool:main secondary_role:master status:Allocated
# Asset with tag 001923
--tag=001923</pre>
</div>

<h2>Tips and Tricks</h2>
<p>
There are useful examples in the <a href="recipes.html#collins-shell">recipes</a> guide.
</p>
