<p class="lead">Simple CLI access to Collins</p>
<h2>Overview</h2>

<p>The Rubygem <code>collins-cli</code> allows you to interact with Collins from the command line. This includes changing attributes, provisioning machines, allocating IPs, maintenance-moding machines, etc. Source is at <a href="https://github.com/byxorna/collins-cli">github.com/byxorna/collins-cli</a>.
</p>

<h2>Installation</h2>
<pre>
$ gem install collins-cli
$ collins -h
</pre>

<h2>Setup</h2>
<p><code>collins-cli</code> uses <code>Collins::Authenticator</code>, so it looks for a configuration file in <code>~/.collins.yml</code>.</p>

<div class="example example-config">
<pre>---
host: https://collins.example.org
username: "joeuser"
password: "secret"
timeout: 30</pre>
</div>
