<p class="lead">The Collins tool chain is at your disposal</p>
<p>
  The Collins tool chain consists of a suite of tools, applications, and libraries you can
use along with your collins installation. You technically don't have to use any of these,
but hopefully as you'll see in the <a href="recipes.html">recipes</a> guide, they're pretty
damn useful.
</p>

<p>
These tools all share the same licensing as Collins core (Apache 2) and include only free
and open source software. Most code tends to be Ruby based but when appropriate we have
tried to either provide an SDK for other languages (as well as bash) or ensure that the
code is user servicable. More details about these tools can be found throughout the rest
of this document.
</p>
