<p class="lead">API access from the language of your choice</p>
<p>
  We realize that you may want to access Collins from a variety of contexts and as such we provide
  an SDK for the languages and environments we use at Tumblr. While we don't have an SDK available
  for every language, the API is well documented so anyone inclined should have no problem implementing
  one.
</p>
<p>
  The reference implementation is implemented with Ruby, and is considered the most complete
  SDK. Anyone looking for a sample implementation is encouraged to review the Ruby collins-client
  code. Anytime a new API endpoint is implemented, in addition to documentation, we include
  support in the Ruby collins client and if applicable in the collins shell.
</p>
<p>
  The ruby gem is available via <a target="_blank" href="https://rubygems.org/gems/collins_client">rubygems.org/gems/collins_client</a>.
</p>
<p>
  There is also a feature-complete API client written in Go. The source code is
  available at <a target="_blank" href="https://github.com/tumblr/go-collins">github.com/tumblr/go-collins</a>.
  The full documentation can be found on <a target="_blank" href="https://github.com/tumblr/go-collins">GoDoc</a>.
</p>
<p>
  Additionally, we have a modest Bash library available that has support for much of the basic core
  API endpoints. This was previously used in projects that are now deprecated, so not much
  development is being done on the Bash library.
</p>
<p>
  Finally, we have a very basic python client available as well but it pretty much only implements
  the API code needed to support deploys at Tumblr. We would welcome a community contribution.
</p>
