@()(implicit flash: Flash, req: Request[AnyContent])

@main("Asset Logs") {
<div class="row">
  <div class="span14">
    <script type="text/javascript">
      var logDataCols = [
        {"mDataProp": "CREATED", "sWidth": "20%"},
	{"mDataProp": "SOURCE", "sWidth": "10%", "bSortable": false},
        {"mDataProp": "TYPE", "sWidth": "15%", "bSortable": false},
	{"mDataProp": "MESSAGE", "sWidth": "55%", "bSortable": false}
      ];
    </script>
    <h1>All Log Data</h1>
    <div id="log_data_container">
      <table id="log_data" class="log-data zebra-striped condensed-table" data-size="100" data-cols="logDataCols" data-source="/assets/logs">
        <thead>
          <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Level</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Level</th>
            <th>Message</th>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
}
