<h2>LLDP Linecard</h2>

<p>
  Last week a coworker asked me how he could find all assets on a particular line card of a switch.
  In this recipe we use the LLDP_PORT_DESCRIPTION attribute which will allow us to match the name
  of the line card (in this case ge-12). We combine that with the LLDP_CHASSIS_NAME to restrict the
  search to a specific switch. The command is below.
</p>

<div class="example example-command">
  <pre>collins-shell asset find --selector=LLDP_PORT_DESCRIPTION:ge-12 LLDP_CHASSIS_NAME:switch01 SIZE:100</pre>
</div>
