*.class
*.log
*.gem

# sbt specific
dist
target
lib_managed
src_managed
project/boot/
project/plugins/project/

# vim specific
*.swp
.NERDTreeBookmarks

# emacs specific
*~

# eclipse specific
.cache
.classpath
.project
.settings