<div class="row">
  <div class="col-md-6">
    <p>
      If an activation plugin has been configured you will be able to provision virtual assets.
      These hosts will have a status of Incomplete. Activation will move the host into New until
      it is ready for use. The UI for this is nearly identical to provisioning because the
      provisioning process will run once the host is available.
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="img/asset_activate.png" alt="Asset Activation">
        <div class="caption">
          <h3>Asset Activation</h3>
          <p>The asset activation drop down item</p>
        </div>
      </div>
    </div>
  </div>
</div>
