<p class="lead">Ways you can break some stuff</p>
<div class="row">
  <div class="col-md-6">
    <p>
      The collins web UI tries to expose most of the actions you can take on an asset. Things like host provisioning, maintenance,
      logging and power management are all available to you. Which actions are available depends on the asset type, the asset status,
      the collins configuration, and your privileges. For instance, you can not provision an asset that is already allocated. You can
      not put an asset in maintenance mode that is already in maintenance mode. For the most part application actions are available
      only when they are applicable.
    </p>
    <p>
      <span class="label label-info">Note</span> Everything below the divider line
      in the drop down is a potentially destructive or disruptive action and will be
      called out as such in the UI.
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="img/asset_actions.png" alt="Asset Actions">
        <div class="caption">
          <h3>Asset Actions</h3>
          <p>You can find the available actions for an asset in the actions drop down.</p>
        </div>
      </div>
    </div>
  </div>
</div>
