<p class="lead">Collins in 60 seconds</p>
<p>
  The Collins web UI is very simple, only providing a small subset of the functionality available via the API.
  This document should be considered a user guide to Collins where a user is someone who provisions machines or
  occasionally needs to look up asset data. The information here will not be particularly useful for Collins
  API developers or Collins administrators. This is as close to a walkthrough or tour as you will get.
</p>
<p>
  During the tour we'll walk through the process of provisioning a server, as well as highlight some of the
  additional functionality available in the web UI. You can mostly just follow the screenshots unless you want
  additional information.
</p>
<p>
  <span class="label label-info">Heads up!</span> Most actions outside of logging in, searching, or viewing an
  asset will result in some action being taken. For instance, putting an asset in maintenance may generate a JIRA
  ticket for the datacenter team. Power cycling a host will cause it to be rebooted, and log the fact that you
  rebooted it. Be responsible.
</p>
