<p>
  Cancelling a server will cause it to be handed back to any neccesary hosting providers, and will shred the filesystem data before
  doing so. It is up to your Collins Administrators to setup the automation to securely erase your assets during cancellation. Server
  cancellations should generally only be done by people on the SRE or operations teams.
</p>
<p>
  <span class="label label-info">NOTE</span> Cancellation only is available for SoftLayer assets.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="img/asset_cancel.png" target="_blank" class="thumbnail">
      <img src="img/asset_cancel.png" alt="Asset Cancellation">
    </a>
  </div>
</div>
