<p>
  Cancelling a server will cause it to be handed back to any neccesary hosting providers, and will shred the filesystem data before
  doing so. This process takes 3-5 days to complete. Server cancellations should generally only be done by people on the SRE or operations
  teams.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="img/asset_cancel.png" target="_blank" class="thumbnail">
      <img src="img/asset_cancel.png" alt="Asset Cancellation">
    </a>
  </div>
</div>
<p>
  Only assets that are not owned by Tumblr can be cancelled.
</p>
