<div class="row">
  <div class="col-md-6">
    <p>
      It is possible as an adminstrator to create assets (not servers) from the web UI. Really this
      is pretty much only useful for configuration assets, but the functionality is there.
    </p>
    <div class="row">
      <div class="col-md-6">
        <a href="img/admin_create.png" target="_blank" class="thumbnail">
          <img src="img/admin_create.png" alt="Asset Creation">
        </a>
      </div>
    </div>
    <p>
      The creation interface requires that you specify a tag, whether IPMI information
      should be generated or not, and the asset status. It is not possible to specify
      any additional information via this interface.
    </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="img/admin_create_menu.png" alt="Asset Create">
        <div class="caption">
          <h3>Asset Create</h3>
          <p>You can find the list of asset types that can be created in the create drop down</p>
        </div>
      </div>
    </div>
  </div>
</div>
