<p>
  There are rare occasions, particularly if an asset went through intake with bad data (e.g. the wrong tag), where you may
  want to actually delete an asset. At Tumblr this can be performed by the datacenter team or Blake. This is an absolutely
  destructive act and should generally not be done.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="img/asset_delete.png" target="_blank" class="thumbnail">
      <img src="img/asset_delete.png" alt="Asset Deletion">
    </a>
  </div>
</div>
<p>
  If you have appropriate permissions you can delete an asset via the web UI. This option is not available via the API.
</p>
