<p class="lead">Getting into Collins</p>
<p>
  At Tumblr you will use your LDAP credentials to authenticate to Collins. Your LDAP groups will determine the level
  of functionality you have available to you in collins. If you are not at Tumblr your administrator may be using
  flat-files or some other authentication mechanism. See your Collins administrator for login details.
</p>
<p>
  When you first go to collins you will be presented with an interface like the following.
</p>
<div class="row">
  <div class="col-md-10">
    <a href="#" class="thumbnail">
      <img src="img/collins_login.png" alt="Account Login">
    </a>
  </div>
</div>
<p>
  Enter in your account credentials and hit the enter key or click sign-in to authenticate.
</p>
<p>
  <span class="label label-info">Heads up!</span> Authentication is required to do anything in collins. The only functionality
  available anonymously in Collins is the login page, the help page, and the timestamp API endpoint.
</p>
