<p>
  A variety of power management functions are available in the UI. In fact, some of these are only available in the UI. These allow
  you to perform actions like soft reboots, hard reboots, powering off a machine, etc. Note that what power actions are available
  when an asset is allocated is configurable, so some power actions may not be available.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="img/asset_powermanagement.png" target="_blank" class="thumbnail">
      <img src="img/asset_powermanagement.png" alt="Power Management">
    </a>
  </div>
</div>
<p>
  With great power comes great responsibility.
</p>
<p>
  It is also possible to check power status or perform an IPMI identify via the 'IPMI Info' tab.
</p>
