<p>For provisioning purposes you'll want to search for hosts that are
unallocated (or sometimes maintenance), as they are not already claimed and in
production. Do not provision hosts in any other state!</p>

<p>To provision a host just click the 'Provision Server' link in the actions
drop down. (Don't worry, there is an API for this as well!) Assets in Allocated
are not able to be provisioned until you move them into maintenance or
unallocated. You will be presented with a dialog like the following:</p>

<div class="row">
  <div class="col-md-6">
    <a href="img/asset_provision.png" target="_blank" class="thumbnail">
      <img src="img/asset_provision.png" alt="Host Provisioning">
    </a>
  </div>
</div>
<p>
  Depending on the profile you choose (web, database, etc) you will have a different set of configurable options made
  available to you. The profile and options you specify will dictate what role in the environment the host will eventually
  play. If something is optional (such as secondary role in this dialog) and you're unsure, just leave it unspecified.
</p>
<p>
  When you're ready just click the 'Provision Server' button. During this process, the provisioning system will 
  verify any required settings for the specified host and reboot it onto a reinstall image. Once control is returned to
  you, the dialog will close and you should notice that the primary role, pool, nodeclass, contact and some other options
  have been changed to reflect the settings you specified. Also note that the status has changed from Unallocated to Provisioning.
</p>
<p>
  With external automation in place (not provided by collins!), the completion of provisioning (base OS image) can notify you
  in Hipchat or Slack. This manifests as a machine being moved into a "Provisioned" status. The remaining steps, such as any 
  application of business logic via config management tooling, are up to your Collins administrator to set up. Once the machine
  is fully provisioned, your site's automation can automatically move an asset into Allocated, once healthchecks and other sanity
  checks have been performed.
</p>
