<p>
  There is no link to this page but if you are an administrator you can get to it at
  <code>/admin/stats</code> This will show you various stat information and also allow
  you to clear the cache. The clear cache button only exists in case you manually modify
  something in the DB and want the cache to refresh.
</p>
<div class="row">
  <div class="col-md-9">
    <a href="img/admin_stats.png" target="_blank" class="thumbnail">
      <img src="img/admin_stats.png" alt="Statistics">
    </a>
  </div>
</div>
<p>
  This page displays the server start time, API and web stats for requests and latency,
  authentication related statistics, and cache statistics.
</p>
