Subject: Server <%= message_obj.hostname || message_obj.tag %> has been provisioned
X-Mailer: collins

<p>Your server has been provisioned. For more details click <a href="https://hostname/asset/<%=message_obj.tag%>">https://hostname/asset/<%=message_obj.tag%></a></p>

<p>Thanks for reading!</p>

<p><a href="https://collins.ewr01.tumblr.net">Collins</a></p>
