X-Mailer: collins

This is a default email from collins. Printing the message object I have available:

<%= message_obj.to_s %>

<a href="Http://www.google.com">Google</a>

Thanks for reading!

Collins
