<p class="lead">IPAM for engineers, API included</p>
<p>
  Collins has an IP Address Management (IPAM) system built into it. The IPAM system is used for allocating
  both IPMI addresses and typical addresses. Addresses are configured in pools (which typically correspond to
  a VLAN), but can also be configured to be pool-less in the case where you don't manage your own IP Address
  space.
</p>
<p>
  Collins will prevent duplicate IP address allocation, and will almost always use the smallest available
  address in a range. It is possible to allocate an address against any kind of asset. This is sometimes
  useful for instance when managing a VIP (virtual or floating IP address). You can create a configuration
  asset that holds the VIP for a service, then link that asset to others that will actually share the
  address.
</p>
<p>
  In addition to address allocation, collins provides the ability to do other things you would expect from
  a typical IPAM system such as querying used addresses, understanding what an IP space looks like, finding
  assets in a pool or by address, etc.
</p>
<p>
  At Tumblr we combine the IPAM functionality of Collins with the per asset LLDP data to automatically manage
  switch provisioning. We also use this data for generating kickstart files with the correct address information.
</p>
<p>
  The fundamental idea with Collins IPAM is that of a pool.
  A pool is a named group of addresses. A pool definition will specify the network
  address range (specified in CIDR notation), an optional start address (e.g. the
  IP to start allocating from in the specified range), an optional gateway (if
  it's not the one you would infer from the CIDR range), and a name.
  Once a pool is configured it is possible to allocate addresses in that
  pool. If you don't manage your own address space, no worries. You can
  operate in a a 'pool-less' mode where you can specify any address.
</p>
<p>
  There is more information available in the API section as well as in the configuration section.
</p>
