<p class="lead">The collins data model</p>
<p>
  Collins was designed from the beginning to represent assets in the simplest way possible.
  This simplicity makes for an efficient data-model and allows for a large degree of
  flexibility. Collins really only knows about a few different kinds of things. Collins has:
</p>
<ul>
  <li>Assets</li>
  <li>Status &amp; States</li>
  <li>Tags</li>
  <li>Logs</li>
  <li>Addresses</li>
</ul>
<p>
  That's it. Everything you need to know about collins has to do with one of these
  types of things.
</p>
