<p class="lead">The Collins data model</p>
<p>Collins models your infrastructure through the use of "assets". An asset can be
anything you want, but the pre-configured asset types are Servers, Chassis, Switch, Router,
and Configuration. By composing these objects with a rich tagging/attribute system, IPAM, status and state
transitions, and logging system, it allows you to dynamically model and automate your infrastructure,
no matter the size of your organization.</p>

<ul>
  <li><a href="#assets">Assets</a></li>
  <li><a href="#tags">Tags (or Attributes)</a></li>
  <li><a href="#status & state">Status &amp; States</a></li>
  <li><a href="#logs">Logs</a></li>
  <li><a href="#addresses">Addresses</a></li>
</ul>
