<p class="lead">Status and state describe the current phase of the lifecycle of an asset.</p>

<h2>Status</h2>
<p>
  The lifecycle (from birth to death) of an asset are described in terms of its status. The possible status values are fixed and can not be managed via the API. While all\
  available status values are
  listed below, the descriptions given are primarily indiciative of their meanings for a server. A non-server asset type such as a configuration may only ever be allocate\
  d or decommissioned, for instance.
  The status values described below also give some specific insight into the Tumblr intake process for hardware.
</p>
<dl>
  <dt class="inlinecode">Incomplete</dt>
  <dd>Host not yet ready for use. It has been powered on and entered in Collins but burn-in is likely being run</dd>
  <dt class="inlinecode">New<dt>
    <dd>Host has completed the burn-in process and is waiting for an onsite tech to complete physical intake</dd>
  <dt class="inlinecode">Unallocated<dt>
    <dd>Host has completed intake process and is ready for use</dd>
  <dt class="inlinecode">Provisioning<dt>
    <dd>Host has started provisioning process but has not yet completed it</dd>
  <dt class="inlinecode">Provisioned<dt>
    <dd>Host has finished provisioning and is awaiting final automated verification</dd>
  <dt class="inlinecode">Allocated<dt>
    <dd>This asset is in what should likely be considered a production state</dd>
  <dt class="inlinecode">Cancelled<dt>
    <dd>Asset is no longer needed and is awaiting decommissioning</dd>
  <dt class="inlinecode">Decommissioned<dt>
    <dd>Asset has completed the outtake process and can no longer be managed</dd>
  <dt class="inlinecode">Maintenance<dt>
    <dd>Asset is undergoing some kind of maintenance and should not be considered for production use</dd>
</dl>
<p>
  The status transition should not generally happen by hand. Automated processes should drive status changes, not people. In fact, the collins UI only allows you to change
  the status by taking an action (e.g. cancelling an asset or putting it into maintenance).
</p>
<h2>State</h2>
<p>
  While the status of an asset describes where it is in a discrete lifecycle, the state describes a lifecycle specific to a status. For example,
  a server that is in maintenance may have a state of <code>HARDWARE_PROBLEM</code> or <code>HARDWARE_UPGRADE</code>. Also note that those states
  are not appropriate for healty (non-maintenance) assets, and so these states are restricted to assets with a status of
  <code>Maintenance</code>.
</p>
<p>
  A state can be either a system state, or a non-system state. System states can not be modified or destroyed. Non-system states can be
  modified and destroyed. Via the API you can only create non-system states, although support for adding system states may be added in
  the future. A state can be bound to a status (such as the case of <code>HARDWARE_PROBLEM</code>), or can be used with any status
  (such as the case of <code>RUNNING</code>). The out of the box available states are described below.
</p>
<div class="accordion" id="state-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#state-accordion" href="#state-table">States</a>
    </div>
    <div id="state-table" class="accordion-body collapse">
      {% include states.html %}
    </div>
  </div>
</div>
<p>
  More information about the states available in your collins instance can be found in the collins help.
</p>
