@(atype: AssetType.Enum)(implicit flash: Flash, req: Request[AnyContent])

@import _root_.util.views.Formatter.camelCase
@import util._

@main("Asset Creator") {
<div class="page-header"><h1>Asset Creator <small>Create a @camelCase(atype.toString, " ")</small></h1></div>
<div class="row">
  <div class="span12">
    @notice("error")
    @notice("warning")

    <form action="@app.routes.Resources.createAsset(atype.toString)" method="post" class="form-horizontal">
      @formField {
        @formLabel("type", "Asset Type")
        @formInput {
          <span id="type" class="uneditable-input">@camelCase(atype.toString, " ")</span>
          <input type="hidden" name="type" value="@atype.toString">
        }
      }
      @formField {
        @formLabel("tag", "Asset Tag")
        @formInput {
          <input type="text" id="tag" name="tag">
          <span class="help-inline">Asset tag, must be a unique alpha-numeric string</span>
        }
      }
      @formField {
        @formLabel("generate_ipmi", "Generate IPMI Info")
        @formInput {
          <select name="generate_ipmi">
            <option value="false" selected="selected">No</option>
            <option value="true">Yes</option>
          </select>
          <span class="help-inline">Whether IPMI data should be generated or not</span>
        }
      }
      @formField {
        @formLabel("status", "Asset Status")
        @formInput {
          <select name="status" id="status">
            <option value="" selected="selected"></option>
            @Status.statusNames.toSeq.map { v =>
            <option value="@v.toString">@camelCase(v.toString, " ")</option>
            }
          </select>
          <span class="help-inline">Asset Status (New, Incomplete, etc)</span>
        }
      }
      
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create @camelCase(atype.toString, " ")</button>
        <button type="reset" class="btn">Reset</button>
      </div>
    </form>
  </div>
</div>
}
