@(assetMeta: Seq[AssetMeta])(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import _root_.util.views.OptionSorter
@import _root_.util.config.MultiCollinsConfig
@import util._

@basicFormatter(asset: AssetMeta) = {
<input type="text" id="@asset.name" name="@asset.name">
  <span class="help-inline"><i class="icon-question-sign" data-rel="tooltip" title="@asset.description"></i></span>
}

@main("Asset Search") {
<div class="row">
  <div class="span12">

    @notice("message", Some("notice"))
    @notice("success")
    @notice("error")
    @notice("security", Some("error"))

    @form(app.routes.Resources.find(0,50,"DESC","and"), 'class -> "form-horizontal") {

    <h1>Asset Search</h1>
    <hr>

    <input type="hidden" name="operation" value="and">

    <div class="row">
      <div class="span6">
        @formField {
          @formLabel("ASSET_TAG", "Asset Tag")
          @formInput {
            <input type="text" class="focus" id="ASSET_TAG" name="ASSET_TAG" autocomplete="off">
            <span class="help-inline"><i class="icon-question-sign" data-rel="tooltip" title="Unique identifier for asset"></i></span>
          }
        }
        @formField {
          @formLabel("status", "Status")
          @formInput {
            <select name="status" id="status">
              <option value="" selected="selected"></option>
              @OptionSorter.sortStrings(Status.statusNames.toSeq, Some(" ")).map { v =>
              <option value="@v._1">@v._2</option>
              }
            </select>
            <span class="help-inline"><i class="icon-question-sign" data-rel="tooltip" title="Asset Status (New, Incomplete, etc)"></i></span>
          }
        }
        @formField {
          @formLabel("state", "State")
          @formInput {
            <select name="state" id="state">
              <option value="" selected="selected"></option>
              @State.find().sorted(State.StateOrdering).map { state =>
                <option value="@state.name">@state.getDisplayLabel</option>
              }
            </select>
            <span class="help-inline"><a target="_blank" href="@app.routes.HelpPage.index("default")#assetState"><i class="icon-question-sign"></i></a></span>
          }
        }
        @formField {
          @formLabel("type", "Type")
          @formInput {
            <select name="type" id="type">
              <option value="" selected="selected"></option>
              @OptionSorter.sortStrings(AssetType.typeNames.toSeq, Some(" ")).map { v =>
              <option value="@v._1">@v._2</option>
              }
            </select>
            <span class="help-inline"><i class="icon-question-sign" data-rel="tooltip" title="Type of Asset (Service Chassis, Server Node, etc)"></i></span>
          }
        }
        @formField {
          @formLabel("IP_ADDRESS", "IP Address")
          @formInput {
            <input type="text" id="IP_ADDRESS" name="IP_ADDRESS">
            <span class="help-inline"><i class="icon-question-sign" data-rel="tooltip" title="IP address of the asset. Prefix searches are also supported."></i></span>
          }
        }
        @formField {
          @formLabel("IPMI_ADDRESS", "IPMI Address")
          @formInput {
            <input type="text" id="IPMI_ADDRESS" name="IPMI_ADDRESS" placeholder="IPMI IP Address">
          }
        }
        @formField {
          @formLabel("", "Created Between")
          @formInput {
            <div class="input-prepend date" data-type="date" data-date-format="yyyy-mm-dd" data-date="2011-11-01">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" id="createdAfter" name="createdAfter" placeholder="Start" readonly>
            </div>
            and
            <div class="input-prepend date" data-type="date" data-date-format="yyyy-mm-dd" data-date="2012-09-23">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" id="createdBefore" name="createdBefore" placeholder="End" readonly>
            </div>
          }
        }
        @formField {
          @formLabel("", "Updated Between")
          @formInput {
            <div class="input-prepend date" data-type="date" data-date-format="yyyy-mm-dd" data-date="2011-11-01">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" id="updatedAfter" name="updatedAfter" placeholder="Start" readonly>
            </div>
            and
            <div class="input-prepend date" data-type="date" data-date-format="yyyy-mm-dd" data-date="2012-09-23">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" id="updatedBefore" name="updatedBefore" placeholder="End" readonly>
            </div>
          }
        }

        @if(MultiCollinsConfig.enabled) {
          @formField {
            @formLabel("", "")
            <input type="checkbox" id="remoteLookup" name="remoteLookup" value="true"> Remote Search <i class="icon-question-sign" data-rel="tooltip" title="Search for assets in other data-centers"></i>
          }
        }
      </div>

      <div class="span6">
        @assetMeta.map { case(asset) =>
          @formField {
            @formLabel(asset.name, asset.label)
            @formInput {
              @{
  	            asset.name match {
                  case "DATACENTER_NAME" => optionDisplay(asset, 0)
                  case "DISK_TYPE" => optionDisplay(asset, 2)
                  case "DISK_STORAGE_TOTAL" => optionDisplay(asset, 1)
                  case "CPU_SPEED_GHZ" => optionDisplay(asset, 3)
                  case "MEMORY_SIZE_TOTAL" => optionDisplay(asset, 1)
                  case "NIC_SPEED" => optionDisplay(asset, 4)
  	              case "NODECLASS" => optionDisplay(asset, 0)
                  case "POOL" => optionDisplay(asset, 0)
                  case "PRIMARY_ROLE" => optionDisplay(asset, 0)
                  case "SECONDARY_ROLE" => optionDisplay(asset, 0)
                  case _ => basicFormatter(asset)
                }
              }
            }
          }
        }
      </div>
    </div>
    <div class="row">
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="reset" class="btn">Reset</button>
      </div>
    </div>
    }
  </div>
</div>
}
