@(asset: Asset, f: Form[actions.resources.IntakeStage3Action.DataForm])(implicit flash: Flash, req: Request[AnyContent])

@import twitterBootstrap._
@import helper._
@import _root_.util.views.ListHelper.getPowerComponentsInOrder
@import util._
@import AssetMeta.Enum.{ChassisTag, RackPosition, ServiceTag}
@import collins.intake.IntakeConfig

@main("Intake Step 3 - " + asset.tag) {
<div class="page-header">
  <h1>Intake Step 3 <small>Verify Information for @asset.tag.</small></h1>
</div>
<div class="row">
  <div class="col-md-12">
    @notice("error", Some("danger"))
    @notice("warning")
    @if(f.globalError.isDefined){
      @f.globalError.map { err =>
      <!-- if there is a global error, show that -->
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Unable to intake node</strong> @err.message
      </div>
      }
    } else {
      @f.errors.lift(0).map { err =>
        <!-- otherwise just show the first validation error -->
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong>Validation failed for @err.key</strong> @Messages(err.message, err.args: _*)
        </div>
      }
    }
  </div>
</div>
<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-7 col-xs-9">
    @form(app.routes.Resources.intake(asset.getId, 3)) {
    @formFieldRow {
      @formLabelInline("ASSET_TAG", "Asset Tag")
      @formInputInline {
         <input disabled id="ASSET_TAG" class="form-control" placeholder="@asset.tag"></input>
      }
    }
    @formFieldRow {
      @formLabelInline(ServiceTag.toString, "Service Tag")
      @formInputInline {
        <input disabled id="@ServiceTag.toString" class="form-control" placeholder="@asset.getMetaAttribute(ServiceTag.toString).map{a => @a.getValue()}.getOrElse{-}">
      }
    }
    @formFieldRow {
      @f.forField(ChassisTag.toString) { field =>
        @formLabelInline(field.name, "Chassis Tag")
        @formInputInline {
          <input disabled id="@field.name" class="form-control" placeholder="@field.value.getOrElse("")">
          <input type="hidden" name="@field.name" value="@field.value.getOrElse("")">
        }
      }
    }

    @formFieldRow {
      @formLabelInline(f(RackPosition.toString).name, "Rack Position")
      @formInputInline {
        <input id="@RackPosition.toString" name="@RackPosition.toString" class="form-control focus" autocomplete="off" enter-style="tab" value="@f(RackPosition.toString).value">
        @inputAddonHelpIcon("An identifier for where the asset is located in the datacenter. i.e. JFK01-R203-U34")
      }
    }

    @IntakeConfig.intake_field_names.map { (name) =>
      @formFieldRow {
        @formLabelInline(f(name).toString, name)
        @formInputInline {
          <input id="@name" name="@f(name).name" class="form-control" autocomplete="off" enter-style="tab" value="@f(name).value.getOrElse("")">
        }
      }
    }

    @getPowerComponentsInOrder.map { component =>
      @formFieldRow {
        @formLabelInline(component.key,component.label)
        @formInputInline {
          <input id="@f(component.key).name" name="@f(component.key).name" class="form-control" autocomplete="off" enter-style="tab" value="@f(component.key).value.getOrElse("")">
        }
      }
    }
    @formFieldRow {
      <input type="hidden" name="stage" value="3">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Done</button>
      </div>
    }
  }
  </div>
  <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-5 col-xs-7">
    <h3>Overview</h3>
    <p>Scan the rack position and individual power ports of the chassis. These values will be
    associated with the node. These values are used for determining what nodes are available in
    which racks, and calculating power utilization/distribution.</p>
  </div>
</div>
}
