@(asset: Asset)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util.notice

@main("Intake Step 1 - " + asset.tag) {
<div class="page-header">
  <h1>Asset Intake Step 1 <small>Verify IPMI Light for @asset.tag</small></h1>
</div>
<div class="row">
  <div class="span12">
    @notice("message", Some("notice"))
    @notice("error")
    @notice("warning")
    <div class="alert alert-block">
      <h4 class="alert-heading">Did the correct light come on?</h4>
      <p>
      </p>
      <p>
        <a class="btn btn-primary" data-altkey="yes" href="@app.routes.Resources.intake(asset.getId, 1)?light=yes">Yes</a>
        <a class="btn" data-altkey="no" href="@app.routes.HelpPage.index(Help.IpmiNoLight)#ipmiNoLight">No</a>
      </p>
    </div>
  </div>
</div>
}
