@(asset: Asset, f: Form[String])(implicit flash: Flash, req: Request[AnyContent])

@import util.notice
@import twitterBootstrap._
@import helper._
@import util._
@import AssetMeta.Enum.ChassisTag

@main("Intake Step 2 - " + asset.tag) {
<div class="page-header">
  <h1>Intake Step 2 <small>Verify Chassis Tag for @asset.tag.</small></h1>
</div>
<div class="row">
  <div class="col-md-12">
    @notice("error", Some("danger"))
    @notice("warning")
    <div class="alert alert-block">
      <h4>Scan the Chassis Tag</h4>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-9">
        @form(app.routes.Resources.intake(asset.getId, 2)) {
          @formFieldRow {
            @formLabelInline(f(ChassisTag.toString).name, "Chassis Tag")
            @formInputInline {
              <input type="text" id="@f(ChassisTag.toString).name" name="@f(ChassisTag.toString).name" class="form-control focus" autocomplete="off">
              @inputAddonHelpIcon("Chassis tag is typically a unique identified encoded into a barcode on the machine")
            }
          }
          @formFieldRow {
            <input type="hidden" name="stage" value="2">
            <div class="form-group">
              <div class="btn-group">
                <button type="submit" class="btn btn-primary">Next</button>
              </div>
            </div>
          }
        }
        </div>
      </div>
    </div>
  </div>
</div>
}
