@(assetMeta: AssetMeta, displayAs: Int = 0)

@import _root_.util.{BitStorageUnit, ByteStorageUnit, Disk}

@formatValue(value: String, display: String) = {
<option value="@value">@display</option>
}
<select name="@assetMeta.name" id="@assetMeta.name">
  <option value="" selected="selected"></option>
  <option value="(none)">(None)</option>
  @{
  displayAs match {
      case 0 => AssetMetaValue.findByMeta(assetMeta).map { value => formatValue(value, value) }
      case 1 => AssetMetaValue.findByMeta(assetMeta).sortBy(_.toLong).map { value => formatValue(value, ByteStorageUnit(value.toLong).toHuman) }
      case 2 => Disk.Type.values.toSeq.map { v => formatValue(v.toString, v.toString) }
      case 3 => AssetMetaValue.findByMeta(assetMeta).sortBy(_.toDouble).map { value => formatValue(value, value + " GHz") }
      case 4 => AssetMetaValue.findByMeta(assetMeta).sortBy(_.toLong).map { value => formatValue(value, BitStorageUnit(value.toLong).toHuman) }
    }
  }
</select>
<span class="help-inline">@assetMeta.description</span>
