@(aa: models.asset.AllAttributes, user: User)(implicit flash: Flash, req: Request[AnyContent])

@import helper._

@container("delete-asset", "assetDeleteLabel") {
  @header("Delete Asset", Some("Warning"))
  @form(app.routes.CookieApi.realDeleteAsset(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "deleteError", Symbol("data-modal") -> "delete-asset", Symbol("data-refresh") -> ".window") {
  <div class="modal-body">
    <p>Deleting this asset will</p>
    <ul>
      <li>Delete log data</li>
      <li>Delete IPMI data</li>
      <li>Delete IP address data</li>
      <li>Delete all tags</li>
      <li>Delete this asset</li>
    </ul>
    <p>If that all sounds good, provide a reason below and then click the &quot;Kill Me&quot; button</p>
    <textarea name="reason" id="deleteReason" class="input-xxlarge" rows="3" placeholder="Reason"></textarea>
    <div id="deleteError" data-purge="true" class="alert alert-block alert-danger hide hideAfterClose"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default">Kill Me</button>
    @resetButton("Go back to browsing tumblr")
  </div>
  }
}
