@(aa: models.asset.AllAttributes, buttonText: String, selectStatus: Boolean, limitStatesTo: Option[String] = None, defaultState: Option[State] = None)(body: Html)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util._
@import _root_.models.State
@import _root_.util.plugins.Maintenance
@import _root_.util.views.{OptionSorter, StateHelper}

<!-- start asset maintenance modal -->
@container("asset-maintenance", "assetMaintenanceLabel", true) {
  @header("Asset Maintenance", Some("Warning"))
  @form(app.routes.CookieApi.updateAssetForMaintenance(aa.asset.tag), 'class -> "form-horizontal", Symbol("data-form") -> "true", Symbol("data-error") -> "maintenanceError", Symbol("data-modal") -> "asset-maintenance", Symbol("data-refresh") -> ".window") {
    <div class="modal-body">
      @body
      @if(selectStatus) {
        <script type="text/javascript">
          var STATE_MAP = @StateHelper.statesAsJson();
        </script>
        @formField {
          @formLabel("status", "Status")
          @formInput {
            <select name="status" id="status" data-trigger-update="#state" data-trigger-update-map="STATE_MAP">
              <option value="" selected="selected"></option>
              @OptionSorter.sortStrings(Status.statusNames.toSeq, Some(" ")).map { v =>
              <option value="@v._1">@v._2</option>
              }
            </select>
          }
        }
      }
      @formField {
        @formLabel("state", "State")
        @formInput {
          <select name="state" id="state">
            @if(!defaultState.isDefined) {
            <option value="" selected="selected"></option>
            }
            @limitStatesTo.flatMap(Status.findByName(_)).map { status =>
              @State.findByStatus(status).sorted(State.StateOrdering).map { state =>
                <option value="@state.name" @if(defaultState.filter(_.equals(state)).isDefined){selected="selected"}>@state.label</option>
              }
            }.getOrElse {
              @State.findByAnyStatus().sorted(State.StateOrdering).map { state =>
                <option value="@state.name" @if(defaultState.filter(_.equals(state)).isDefined){selected="selected"}>@state.label</option>
              }
            }
          </select>
          <span class="help-inline"><a target="_blank" href="@app.routes.HelpPage.index("default")#assetState"><i class="icon-question-sign"></i></a></span>
        }
      }
      <div class="control-group">
        <textarea name="description" id="maintenanceDescription" class="input-xxlarge" rows="3" placeholder="Description"></textarea>
      </div>
      <div id="maintenanceError" data-purge="true" class="alert alert-block alert-error hide hideAfterClose"></div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn">@buttonText</button>
      @resetButton("Go back to browsing tumblr")
    </div>
  }
}
