@()(implicit flash: Flash, req: Request[AnyContent])

@import _root_.models.{State, Status}

<div class="accordion" id="maintenanceHelp">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#maintenanceHelp" href="#maintenanceHelpText">Types <i class="icon-question-sign"></i></a>
    </div>
    <div id="maintenanceHelpText" class="accordion-body collapse">
      <div class="accordion-inner">
      @Status.findByName("Maintenance").map { status =>
        <dl>
        @State.findByStatus(status).sorted(State.StateOrdering).map { state =>
          <dt>@state.label</dt>
          <dd>@state.description</dd>
        }
        </dl>
      }
      </div> <!-- accordion-inner -->
    </div> <!-- maintenanceHelpText -->
  </div> <!-- accordion-group -->
</div> <!-- accordion -->
