@(aa: AllAttributes, user: User)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util._

@container("power-server", "powerServerLabel") {
  @header("Asset Power Management", Some("Warning"))
  @form(collins.app.routes.CookieApi.powerManagement(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "powerError", Symbol("data-modal") -> "power-server", Symbol("data-refresh") -> ".window") {
  <div class="modal-body">
    <p>This is a disruptive action</p>
    <ul>
      <li><strong>Hard Reboot</strong> - This is equivalent to pressing the reset button</li>
      <li><strong>Soft Reboot</strong> - Graceful reboot via IPMI, uses ACPI to notify OS</li>
      <li><strong>Power Off</strong> - Power off the server, without grace (like pressing the power button)</li>
      <li><strong>Power On</strong> - Power up chassis</li>
      <li><strong>Power Off Graceful</strong> - Initiate soft-shutdown of OS via ACPI</li>
      <li><strong>Next Boot PXE</strong> - Set next boot of this asset to PXE (Manual reboot is still required).</li>
      <li><strong>Next Boot DISK</strong> - Set next boot of this asset to Local Hard Disk (Manual reboot is still required).</li>
      <li><strong>Next Boot PXE PERSISTENT</strong> - Set next boot of this asset to PXE PERSISTENT (Manual reboot is still required).</li>
      <li><strong>Next Boot DISK PERSISTENT</strong> - Set next boot of this asset to Local Hard Disk PERSISTENT (Manual reboot is still required).</li>
    </ul>
    <p>If that all sounds good, pick a reboot type and then click the button below</p>
    @formFieldRow {
      @formLabelInline("action", "Reboot Type")
      @formInputInline {
        <select name="action" id="action" class="form-control">
          <option value="" selected="selected"></option>
          <option value="rebootSoft">Soft Reboot</option>
          <option value="rebootHard">Hard Reboot</option>
          <option value="powerOff">Power Off</option>
          <option value="powerOn">Power On</option>
          <option value="powerSoft">Power Off Graceful</option>
          <option value="nextBootPxe">Next Boot PXE (manual reboot required).</option>
          <option value="nextBootDisk">Next Boot DISK (manual reboot required).</option>
          <option value="nextBootPxePersistent">Next Boot PXE PERSISTENT (manual reboot required).</option>
          <option value="nextBootDiskPersistent">Next Boot DISK PERSISTENT (manual reboot required).</option>
        </select>
      }
    }
    <div id="powerError" data-purge="true" class="alert alert-block alert-danger hide-loprio hideAfterClose"></div>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      @resetButton("Go back to browsing tumblr")
      <button type="submit" class="btn btn-danger">Potentially Mess Up Server</button>
    </div>
  </div>
  }
}


