@(aa: models.asset.AllAttributes, user: User)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util._
@import _root_.util.plugins.Provisioner
@import _root_.util.views.ProvisionerHelper

@container("provision-server", "Provision Server", true) {
  @if(aa.asset.isIncomplete) {
    @header("Activate Server", Some("Warning"))
  } else {
    @header("Provision Server", Some("Warning"))
  }
  @form(app.routes.CookieApi.provisionAsset(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "provisionError", Symbol("data-modal") -> "provision-server", Symbol("data-refresh") -> ".window") {
  <div class="modal-body">
    @if(aa.asset.isIncomplete) {
      <p>
        Activating a server takes a couple of days. When the server has been activated out of the softlayer spare pool, it will be allocated during the reconciler run automatically. Once allocated, we will begin getting billed.
      </p>
    } else {
      <p>Provisioning a server is a destructive process. Be certain that you want to do this. The provisioner will:</p>
      <ul>
        <li>Verify the server is sane</li>
        <li>Power it off</li>
        <li>Reinstall the operating system</li>
        <li>Come back online without old data on disks</li>
      </ul>
    }
    <p>If that all sounds good, choose an appropriate profile below and provide your contact for notification</p>
    @formFieldRow {
      @formLabelInline("profile","Profile")
      @formInputInline {
        <select name="profile" id="profile" data-show="suffix-container,hostname-container" data-triggers="PROVISIONER_TRIGGERS" class="form-control">
        <option value="" selected="selected"></option>
        @Provisioner.pluginEnabled.map { p =>
          @p.profiles.toSeq.map { v =>
          <option value="@v.identifier" data-show-display="@v.allow_suffix.toString" data-aggregate-value="@v.prefix">@v.label</option>
          }
        }
        </select>
      }
    }
    @if(aa.asset.isIncomplete) {
    <input type="hidden" name="activate" value="true">
    }
    <script type="text/javascript">
      var PROVISIONER_TRIGGERS = {
        "profiles": @ProvisionerHelper.profilesAsJson(),
        "primary_roles": @ProvisionerHelper.primaryRolesAsJson(),
        "pools": @ProvisionerHelper.poolsAsJson(),
        "secondary_roles": @ProvisionerHelper.secondaryRolesAsJson()
      };
    </script>
    <div class="form-group hide-loprio hideAfterClose" id="primary-role-container">
      @formLabelInline("primary_role","Primary Role")
      @formInputInline { }
      <div data-purge="true"></div>
    </div>
    <div class="form-group haveChoice hide-loprio hideAfterClose" id="pool-container">
      @formLabelInline("pool","Pool")
      @formInputInline { }
      <div data-purge="true"></div>
    </div>
    <div class="form-group haveChoice hide-loprio hideAfterClose" id="secondary-role-container">
      @formLabelInline("secondary_role","Secondary Role")
      @formInputInline { }
      <div data-purge="true"></div>
    </div>
    <div class="form-group hide-loprio hideAfterClose" id="suffix-container">
      @formLabelInline("suffix","Hostname Suffix")
      @formInputInline {
        <input type="text" name="suffix" id="suffix" data-purge="true" class="form-control">
        @inputAddonHelpIcon("Optional suffix for hostname. If you provisioned a dev machine and picked mackenzie as your suffix, the hostname would be dev-mackenzie-HASH")
      }
    </div>
    <div class="form-group hide-loprio hideAfterClose" id="hostname-container">
      @formLabelInline("","Hostname")
      @formInputInline {
        <pre><code data-purge="true" data-aggregate="profile,suffix"></code></pre>
      }
    </div>
    <div class="form-group">
      @formLabelInline("contact","Notification Contact")
      @formInputInline {
        <input type="text" name="contact" id="contact" value="@user.username" class="form-control">
      }
    </div>
    <div id="provisionError" data-purge="true" class="alert alert-block alert-danger hide-loprio hideAfterClose"></div>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      @resetButton("Go back to browsing tumblr")
      @if(aa.asset.isIncomplete) {
        <button type="submit" class="btn btn-primary">Activate Server</button>
      } else {
        <button type="submit" class="btn btn-primary">Provision Server</button>
      }
    </div>
  </div>
  }
}
