<p class="lead">
  Collins provides an easy to use API on top of a simple data model. You can extend
  collins through callbacks, plugins, and light-weight collins scripts.
</p>
<p>
  Collins is extremely dumb. It knows about assets, their
  meta-data and asset logs. You can think of collins as a key/value
  store where each asset has its own set of key/value pairs. There are
  no relationships between assets other than the ones you, through
  convention, derive. The API makes it trivial to create and manage
  the tags (meta-data, key/value pairs) associated with an asset, and
  to query based on those tags.
</p>
<p>
  Collins is intentionally dumb. It worries about basic
  authentication, clean API interactions, and data persistence. If you
  start thinking, "Hey, I should build X into Collins", you probably
  shouldn't. Collins supports both a plugins architecture (for things
  that actually in some way change the behavior of collins) as well as
  a very usable API (including clients in Python, Ruby and Bash).
  Nearly everything you might want to do can be accomplished via the
  API and anything that can't is doable as a plugin.
</p>
