<p class="lead">
  Collins consists of the core application, a set of client libraries, the collins-shell,
  and an automation toolchain. Nothing but collins core is required.
</p>
<ul>
  <li>Documented, consistent REST API</li>
  <li>Client API libraries in <a href="https://rubygems.org/gems/collins_client"<Ruby</a>, <a href="https://pypi.python.org/pypi/collins-client/0.1.1">Python</a>, and <a href="https://github.com/tumblr/go-collins">Go</a>.
  <li>A collins command line shell for scripting and automation</li>
  <li>A callback system for hooking into asset lifecycle events</li>
  <li>Multiple authentication backends (LDAP, files, etc)</li>
  <li>Per-feature and per-endpoint configurable permissions</li>
  <li>Flexible Web and API based provisioning (PXE, SSH/grub/kickstart, API (e.g. AWS))</li>
  <li>Power management support</li>
  <li>IP Address allocation and management support</li>
  <li>Support for running collins in distributed mode across multiple datacenters</li>
  <li>Flexible data-model supporting multi-dimensional keys/values per asset</li>
  <li>Simple key/value queries as well as a more advanced query language</li>
  <li>A script engine for modifying collins behavior</li>
  <li>Internationalized language support</li>
</ul>
