<p class="lead">
  Quick links to useful resources
</p>
<ul>
  <li><a target="_blank" href="https://github.com/tumblr/collins/issues?state=open">Submit issues</a></li>
  <li><a target="_blank" href="https://groups.google.com/forum/#!forum/collins-sm">Find help</a></li>
  <li>Hang out at <span style="font-family: monospace;">#collins</span> on <a target="_blank" href="http://freenode.net/">freenode</a></li>
  <li><a target="_blank" href="https://github.com/tumblr/collins">Code</a></li>
  <li><a target="_blank" href="downloads.html">Downloads</a></li>
  <li><a target="_blank" href="http://tumblr.github.com/collins">Docs</a></li>
  <li><a target="_blank" href="https://registry.hub.docker.com/u/tumblr/collins/">Docker Repository</a></li>
</ul>
