<p>
  A number of people were responsible for Collins growing into the useful tool that it has.
</p>
<ul>
  <li>Dan Simon for being the only other collins contributor for months</li>
  <li>Steve Salevan for jumping in at the last minute to help get collins into shape to open-source</li>
  <li>Joshua Hoffman for working with me on the initial specs</li>
  <li>Dallas Marlow for figuring out all the ways to use the API that I didn't anticipate</li>
  <li>Brad McDuffie for providing feedback on collins-shell (and making it usable)</li>
  <li>Everyone else who helped with testing or provided feedback</li>
</ul>
