#intro {
  text-align: center;
}
#intro > div {
    padding-top: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#intro h1 {
    position: static;
    font-size: 84px;
    font-weight: normal;
    margin: 0 0 8px 0;
    padding: 0 48px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#intro h2 {
    border: none;
}

.inline {
	display: inline;
}
