
@(assets: Page[models.asset.AssetView], sortDirection: SortDirection = SortDirection.SortAsc, sortField: Option[String] = None, paginateLink: Option[Int => String] = None)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import _root_.util.views.{ListHelper, Formatter, Pagination}
@import _root_.util.config.Feature
@import _root_.models._
@import _root_.collins.solr._
@import util._
@import models.SortDirection._

@link(newPage: Int) = @{
  Pagination.paginate(paginateLink.map{f => f(newPage)}.getOrElse(app.routes.Resources.find(newPage, 50, "ASC", "and").toString), req.queryString)
}
@sortLink(sort: String) = @{
  val sortDir = if (sortField.map{_ != sort}.getOrElse(true)) {
    SortAsc
  } else {
    ! sortDirection
  }
  val prefix = app.routes.Resources.find(0, 50, sortDir.toString, "and", sort).toString
  Pagination.paginate(prefix, req.queryString)
}
@formatRawMetaAttribute(name: String) = @{
  name.replaceAll("_"," ").replaceAll("-"," ").toLowerCase.capitalize
}
@displayMetaSortHeader(name: String, metaOpt: Option[AssetMeta]) = {
    @if(AssetKeyResolver(name).map(p => p.isSortable).getOrElse(false)) {
      <th><a href="@sortLink(name)" title="Sort by @name">@formatRawMetaAttribute(name)</a></th>
    } else {
      <th><span title="Results are not sortable by @name">@formatRawMetaAttribute(name)</span></th>
    }
}

@main("Search Results") {
<div class="page-header">
  <h1>Search Results <small>Displaying @(assets.offset + 1) to @(assets.offset + assets.size) of @assets.total results.</small></h1>
</div>
<div class="row">
  <div class="col-md-12">
    @notice("message", Some("info"))
    @notice("error", Some("danger"))
    @notice("warning")
    <table class="table table-bordered table-hover" data-size="50">
      <thead>
        <tr>
          @for(metaName <- Feature.searchResultColumns) {
            @displayMetaSortHeader(metaName,AssetMeta.findByName(metaName))
          }
          @if(ListHelper.showSoftLayerLink(assets)) {
          <th>SL Link</th>
          }
        </tr>
      </thead>
      <tbody>
        @assets.items.map { asset =>
        <tr class="@statusClassFromAsset(asset)">
          @for(meta <- Feature.searchResultColumns) {
            @meta match {
              case "TAG" => {
                <td><a href="@(asset.remoteHost.getOrElse("") + app.routes.CookieApi.getAsset(asset.tag))">@asset.tag</a></td>
              }
              case "HOSTNAME" => {
                <td>@asset.getHostnameMetaValue.map(v => Formatter.elipse(v)).getOrElse { <em>Unknown</em> }</td>
              }
              case "STATUS" => {
                <td>@Formatter.elipse(asset.getStatusName(), 12)</td>
              }
              case "STATE" => {
                <td>@Formatter.elipse(asset.getStateName(), 12)</td>
              }
              case "CREATED" => {
                <td>@asset.created.format("yyyy-MM-dd HH:mm:ss")</td>
              }
              case "UPDATED" => {
                <td>@asset.updated.map(_.format("yyyy-MM-dd HH:mm:ss")).getOrElse { <em>Never</em> }</td>
              }
              case _ => {
                <td>@asset.getMetaAttributeValue(meta).map(v=>Formatter.elipse(v)).getOrElse { <em>Unknown</em> }</td>
              }
            }
          }
          @if(ListHelper.showSoftLayerLink(assets)) {
            @slLink(asset)
          }
        </tr>
        }
      </tbody>
    </table>

    <div id="pagination" class="pagination">
      <ul class="pagination">
        @assets.prev.map { page =>
          <li><a href="@link(page)">Previous</a></li>
        }.getOrElse {
          <li class="disabled"><a>Previous</a></li>
        }
        <li class="active">
          <a>Displaying @(assets.offset + 1) to @(assets.offset + assets.items.size) of @assets.total</a>
        </li>
        @assets.next.map { page =>
          <li><a href="@link(page)">Next</a></li>
        }.getOrElse {
          <li class="disabled"><a>Next</a></li>
        }

      </ul>
    </div>
  </div>
</div>
}
