@(assets: Page[models.asset.AssetView], clientSort: Boolean = true, paginateLink: Option[Int => String] = None)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import _root_.util.views.{ListHelper, Formatter, Pagination, TagDecorator}
@import util.notice

@link(newPage: Int) = @{
  Pagination.paginate(paginateLink.map{f => f(newPage)}.getOrElse(app.routes.Resources.find(newPage, 50, "DESC", "and").toString), req.queryString)
}
@rowClassFromAsset(a: models.asset.AssetView) = @{
  a match {
    case warn if warn.isIncomplete || warn.isNew => "warning"
    case info if info.isProvisioning || info.isProvisioned => "info"
    case ok if ok.isCancelled || ok.isDecommissioned => "success"
    case err if err.isMaintenance => "error"
    case default => ""
  }
}

@main("Asset Search Results") {
<div class="page-header">
  <h1>Asset Search Results <small>Displaying @(assets.offset + 1) to @(assets.offset + assets.size) of @assets.total results</small></h1>
</div>
<div class="row">
  <div class="span12">
    @notice("message", Some("notice"))
    @notice("error")
    @notice("warning")
    <table class="table table-bordered table-hover @(if(clientSort) "sortable" else "")" data-size="50">
      <thead>
        <tr>
          @ListHelper.getListHeaderTags.map { tag =>
            @if(ListHelper.showColumnForTag(tag, assets)) {
              <th>@ListHelper.getColumnHeader(tag)</th>              
            }
          }
        </tr>
      </thead>
      <tbody>
        @assets.items.map { asset =>
        <tr>
          @ListHelper.getListHeaderTags.map { tag =>
            @if(ListHelper.showColumnForTag(tag, assets)) {
              <td>@TagDecorator.decorate(tag, asset)</td>
            }
          }
        </tr>
        }
      </tbody>
    </table>

    <div id="pagination" class="pagination">
      <ul>
        @assets.prev.map { page =>
          <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
          </li>
        }.getOrElse {
          <li class="prev disabled">
            <a>&larr; Previous</a>
          </li>
        }
        <li class="current">
          <a>Displaying @(assets.offset + 1) to @(assets.offset + assets.items.size) of @assets.total</a>
        </li>
        @assets.next.map { page =>
          <li class="next">
            <a href="@link(page)">Next &rarr;</a>
          </li>
        }.getOrElse {
          <li class="next disabled">
            <a>Next &rarr;</a>
          </li>
        }

      </ul>
    </div>
  </div>
</div>
}
