
@(assets: Page[models.asset.AssetView], sortDirection: SortDirection = SortDirection.SortAsc, sortField: Option[String] = None, paginateLink: Option[Int => String] = None)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import _root_.util.views.{ListHelper, Formatter, Pagination, TagDecorator}
@import util.notice
@import models.SortDirection._

@link(newPage: Int) = @{
  Pagination.paginate(paginateLink.map{f => f(newPage)}.getOrElse(app.routes.Resources.find(newPage, 50, "ASC", "and").toString), req.queryString)
}
@sortLink(sort: String) = @{
  val sortDir = if (sortField.map{_ != sort}.getOrElse(true)) {
    SortAsc
  } else {
    ! sortDirection
  }
  val prefix = app.routes.Resources.find(0, 50, sortDir.toString, "and", sort).toString
  Pagination.paginate(prefix, req.queryString)
}
@getTableHeader(tag: String, assets: Page[models.asset.AssetView]) = @{
  val style = ListHelper.showColumnForTag(tag, assets) match {
    case true => ""
    case false => "display: none"
  }
  if (ListHelper.showColumnForTag(tag, assets))
  if(ListHelper.canSortForTag(tag)) {
    Html("<th class=\"search-results-header\" id=\"%s\" style=\"%s\"><a href=\"%s\">%s</a></th>"
      .format(tag, style, sortLink(tag), ListHelper.getColumnHeader(tag)))
  } else {
    Html("<th class=\"search-results-header\" id=\"%s\" style=\"%s\">%s</th>"
      .format(tag, style, ListHelper.getColumnHeader(tag)))
  }
}

@main("Asset Search Results") {
<div class="page-header">
  <h1>Asset Search Results <small>Displaying @(assets.offset + 1) to @(assets.offset + assets.size) of @assets.total results</small></h1>
</div>
<div class="row">
  <div class="span12">
    @notice("message", Some("notice"))
    @notice("error")
    @notice("warning")
    <table class="table table-bordered table-hover" data-size="50">
      <thead>
        <tr>
          @ListHelper.getListHeaderTags.map { tag =>
            @getTableHeader(tag, assets)
          }
        </tr>
      </thead>
      <tbody>
        @assets.items.map { asset =>
        <tr class="@ListHelper.getRowClassForAsset(asset)">
          @ListHelper.getListHeaderTags.map { tag =>
            @if(ListHelper.showColumnForTag(tag, assets)) {
              <td>@TagDecorator.decorate(tag, asset)</td>
            } else {
              <td style="display: none"></td>
            }
          }
        </tr>
        }
      </tbody>
    </table>

    <div id="pagination" class="pagination">
      <ul>
        @assets.prev.map { page =>
          <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
          </li>
        }.getOrElse {
          <li class="prev disabled">
            <a>&larr; Previous</a>
          </li>
        }
        <li class="current">
          <a>Displaying @(assets.offset + 1) to @(assets.offset + assets.items.size) of @assets.total</a>
        </li>
        @assets.next.map { page =>
          <li class="next">
            <a href="@link(page)">Next &rarr;</a>
          </li>
        }.getOrElse {
          <li class="next disabled">
            <a>Next &rarr;</a>
          </li>
        }

      </ul>
    </div>
  </div>
</div>
}
