@(aa: AllAttributes, user: User)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util.notice
@import collins.util.conversions._
@import collins.util.config.Feature
@import collins.power.management.PowerManagement
@import collins.frames.{ViewsConfig, FrameView, ViewSpecs}
@import collins.util.views.{Maintenance, ListHelper, OptionSorter, Summary, TagDecorator, Titler}

@frame(specs: ViewSpecs) = {
<div class="tab-pane" id="@specs.name-info">
  @views.html.frames.frame(specs)
</div>
}

@main(Titler(aa.asset)) {
<div class="row">
  <div class="col-md-12">
    @notice("message", Some("info"))
    @notice("error", Some("danger"))
    @notice("warning")
  </div>
</div>

@show_menu(aa, user)

<!-- main body -->
<div class="row">
  <div class="tab-content col-md-12">
@show_overview(aa, user)
@show_ipmi(aa, user)
@show_lldp(aa, user)
@show_hwdetails(aa, user)
@show_logs(aa, user)
@show_graphs(aa, user)
@if(ViewsConfig.enabled) {
  @for(specs <- FrameView.getViewSpecs(aa)) {
    @frame(specs)
  }
}
  </div>
</div>
<!-- end main body -->

<!-- modals -->
@showModal.maintenance(aa, user)
@showModal.note(aa, user)
@showModal.delete(aa, user)
@showModal.provision(aa, user)
@showModal.power(aa, user)
@showModal.cancel(aa, user)

<script src="@controllers.routes.Assets.at("javascripts/asset_show.js")" type="text/javascript"></script>
}
