@(aa: models.asset.AllAttributes, user: User)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import _root_.util.plugins.PowerManagement

<!-- Start IPMI Info -->
<div class="tab-pane" id="ipmi-info">

  <div class="row">
    <div class="span12">
    @PowerManagement.pluginEnabled.map { p =>
      @form(app.routes.CookieApi.powerManagement(aa.asset.tag), Symbol("data-form") -> "true", Symbol("data-error") -> "identifyError", Symbol("data-success") -> "identifySuccess") {
        <button class="btn-info btn" data-remote="/asset/@aa.asset.tag/power" data-insert="power-status" data-extract="data.MESSAGE">Power Status</button>
        <span id="power-status"></span>
        <button type="submit" class="btn-info btn">Identify</button>
        <span id="identifyError"></span>
        <span id="identifySuccess" class="hide">Ok</span>
        <input type="hidden" name="action" value="Identify">
      }
    }
    </div>
  </div>

  @if(aa.ipmi.nonEmpty) {
  <table class="table table-bordered table-hover table-condensed" id="ipmiInfo">
    <tbody>
      <tr>
        <th>IPMI Address</th>
        <td><a target="_blank" href="http://@aa.ipmi.get.dottedAddress()/">@{aa.ipmi.get.dottedAddress()}</a></td>
      </tr>
      <tr>
        <th>IPMI Username</th>
        <td>@aa.ipmi.get.username</td>
      </tr>
      <tr>
        <th>IPMI Password</th>
        <td>@aa.ipmi.get.password</td>
      </tr>
      <tr>
        <th>IPMI Gateway/Netmask</th>
        <td>@aa.ipmi.get.dottedGateway()/@aa.ipmi.get.dottedNetmask()</td>
      </tr>
    </tbody>
  </table>
  } else {
  <div class="row">
    <div class="span12">
      None Available
    </div>
  </div>
  }
</div>

<!-- End IPMI Info -->
