@(htype: Help)(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util.notice

@main("Intake Help") {
<div class="page-header">
  <h1>Asset Intake Help Page</h1>
</div>
<div class="row">
  <div class="span14">
    @notice("message", Some("notice"))
    @notice("success")
    @notice("error")

    You're here because something is broken, it's a @htype

    Until we have real content here, you might check out the
    <a href="http://tumblr.github.com/platform/collinsTutorial/out/index.html">Collins Tutorial</a>
  </div>
</div>
}
