@(loginForm: Form[(String,String)])(implicit flash: Flash, req: Request[AnyContent])

@import helper._
@import util.notice

@main("Login", false) {
<div class="page-header"><h1>Login <small>enter your credentials</small></h1></div>
<div class="row">
  <div class="span14">
    @notice("success")
    @notice("security", Some("error"))

@form(routes.Application.authenticate) {
    @inputText(loginForm("username"), 'label -> "Username")(twitterBootstrapInput)
    @inputPassword(loginForm("password"), 'label -> "Password")(twitterBootstrapInput)
    @loginForm.globalError.map { error =>
      <div class="alert-message error">
        <strong>Unable to login</strong> @error.message
      </div>
    }
    <div class="actions">
      <input type="submit" class="btn primary" value="Sign in">
      <button type="reset" class="btn">Cancel</button>
    </div>
}
  </div>
</div>

}
