@(hostname: String)

@genURL() = @{
  Seq(
    "%s#pools=%s".format(collins.graphs.FibrGraphConfig.url, hostname),
    "annotations=%s".format(collins.graphs.FibrGraphConfig.annotations.mkString(",")),
    "metrics=%s".format(Set(collins.graphs.FibrGraphConfig.defaultMetrics, collins.graphs.FibrGraphConfig.customMetricsFor(hostname)).flatten.toSeq.sorted.mkString(",")),
    "rangeSeconds=%d,0".format(collins.graphs.FibrGraphConfig.timeframeSeconds),
    "dashboardEnabled=true",
    "customs=0"
  ).mkString("&")
}

<style type="text/css">
#fibr-graph {
  width: 100%;
  height: 1200px;
}
</style>

<p>
<a href="@Html(genURL())" target="_blank" class="btn btn-primary">Open in new window</a>
</p>

<iframe id="fibr-graph" src="" frameborder="0"></iframe>

<script type="text/javascript">
  $('a[data-toggle="pill"]').on('show', function(e) {
    var target = $(e.target)
    var iframe = $('#fibr-graph')
    if (target.attr('href') === '#graph-info' && iframe.attr('src') === "") {
      iframe.attr('src', "@Html(genURL())")
    }
  })
</script>
