<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Collins - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap-1.4.0.min.css">
    <link rel="stylesheet" href="main.css">

  </head>

  <body>
  
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="index.html">{{ page.title }}</a></h3>
          <ul class="nav secondary-nav">
            {% if page.previous.url %}
              <li><a href="{{ page.previous.url }}">&laquo;Previous</a></li>
            {% endif %}
            {% if page.next.url %}
              <li><a href="{{ page.next.url }}">Next&raquo;</a></li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 60px;">
      <div class="row">
        <div class="span12">
          {{ content }}
        </div>
	<div class="span4">
            <ul>
              {% for post in site.posts reversed %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
    	<div class="span4">
		<hr>
	</div>
	<div class="span4">
		<h4>Configuration</h4>
		<ul>
			<li><a href="#overview">Overview</a></li>
			<li><a href="#general">General</a></li>
			<li><a href="#auth">Authentication</a></li>
			<li><a href="#cache">Cache</a></li>
			<li><a href="#db">Database</a></li>
			<li><a href="#features">Feature Flags</a></li>
			<li><a href="#ipmi">IPMI</a></li>
			<li><a href="#ipAddress">IP Addresses</a></li>
			<li><a href="#lshw">LSHW</a></li>
			<li><a href="#tags">Tag Decorators</a></li>
		</ul>
		<h4>Plugins</h4>
		<ul>
			<li><a href="#callbacks">Callback Plugin</a></li>
			<li><a href="#power">Power Management Plugin</a></li>
			<li><a href="#provisioner">Provisioner Plugin</a></li>
			<li><a href="#softlayer">SoftLayer Plugin</a></li>
		</ul>
	</div>
      </div>
    </div> <!-- /container -->

    <footer>
        <div class="container">
          <p>
            Built at <a href="http://tumblr.com" target="_blank">Tumblr</a>
          </p>
        </div>
    </footer>

  </body>
</html>
