<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap-1.4.0.min.css">

  </head>

  <body>

    <div class="container">
    
      {{ content }}

    </div> <!-- /container -->
    
    <footer>
        <div class="container">
	  <p>
            Built at <a href="http://tumblr.com" target="_blank">Tumblr</a>
          </p>
        </div>
    </footer>


  </body>
</html>
