@(loginForm: Form[(String,String,Option[String])])(implicit flash: Flash, req: Request[AnyContent])

@import twitterBootstrap._
@import helper._
@import util.notice

@main("Login", false) {
<div class="page-header"><h1>Login <small>Enter your credentials</small></h1></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      @notice("success")
      @notice("security", Some("danger"))
  
@form(routes.Application.authenticate, 'class -> "form-horizontal", 'role -> "form") {
    <div class="form-group">
      @inputText(loginForm("username"), '_label -> "Username", 'class -> "form-control")
    </div>
    <div class="form-group">
      @inputPassword(loginForm("password"), '_label -> "Password", 'class -> "form-control")
    </div>
    @loginForm.globalError.map { error =>
    <div class="alert alert-danger">
        <strong>Unable to login</strong> @error.message
      </div>
    }
    <div class="form-group">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="reset" class="btn btn-default">Cancel</button>
      </div>
      @loginForm("location").value.map { value =>
      <input type="hidden" name="location" value="@value">
      }
    </div>
}
    </div>
  </div>

</div>
}
